.row
  - if flash[:error]
    .alert.alert-error= flash[:error]
  - if flash[:notice]
    .alert.alert-success= flash[:notice]
.row
  .span5
    = form_for @profile, :html => {:class => 'form form-horizontal'} do |f|
      %legend
        Данные пользователя
      -if @profile.errors.any?
        #error_explanation
          %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
          %ul
            - @profile.errors.full_messages.each do |msg|
              %li= msg
      .control-group
        = f.label 'Имя', :class => 'control-label'
        .controls
          = f.text_field :name
      .control-group
        = f.label 'Организация', :class => 'control-label'
        .controls
          = f.text_field :company_name, :disabled => :disabled
      .control-group
        .controls
          = f.submit 'Сохранить', :class => 'btn'

    = form_for(current_user, :url => { :action => "update_password" }, :html => {:class => 'form form-horizontal'} ) do |f|
      %legend
        Сменить пароль 
      .control-group
        = f.label :password, "Новый пароль", :class => 'control-label'
        .controls
          = f.password_field :password
      .control-group
        = f.label :password_confirmation, "Подтвердите пароль", :class => 'control-label'
        .controls
          = f.password_field :password_confirmation
      .control-group
        .controls
          = f.submit "Сменить пароль", :class => 'btn'
  .span5
    .alert.alert-info
      %h3
        Полезная информация
      %p Lorem ipsum
