.row
  - if flash[:error]
    .alert.alert-error= flash[:error]
  - if flash[:notice]
    .alert.alert-success= flash[:notice]
.row
  .span5
    = form_for @profile, :html => {:class => 'form form-horizontal'} do |f|
      %legend
        Данные пользователя
      -if @profile.errors.any?
        #error_explanation
          %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
          %ul
            - @profile.errors.full_messages.each do |msg|
              %li= msg
      .control-group
        = f.label 'Имя', :class => 'control-label'
        .controls
          = f.text_field :name
      .control-group
        = f.label 'Организация', :class => 'control-label'
        .controls
          = f.text_field :company_name, :disabled => :disabled
      .control-group
        = f.label 'Телефон', :class => 'control-label'
        .controls
          = f.text_field :phone
      .control-group
        = f.label 'Адрес', :class => 'control-label'
        .controls
          = f.text_field :address
      .control-group
        = f.label 'Часы работы', :class => 'control-label'
        .controls
          = f.text_field :timing
      .control-group
        .controls
          = f.submit 'Сохранить', :class => 'btn'
    
    - if current_user.company
      = form_for(current_user.company, :url => company_upload_logotype_path(current_user.company), :remote => true, :html => {:class => 'form form-horizontal'} ) do |f|
        .logotype
          - if asset = current_user.company.asset
            - if asset.data_processing
              %img{src: "/system/assets/data/000/001/#{asset.id}/original/#{asset.data_file_name}"}
            -else
              %img{src: asset.url(:carousel)}
        %legend
          Прикрепить логотип
        .control-group
          .controls
            = f.file_field :logo
        .control-group
          .controls
            = f.submit "Прикрепить файл", :class => 'btn'
    .form_for_new_schedule_emails
      = render 'form_for_new_schedule_emails'
    .form_for_change_schedule_emails
      = render 'form_for_change_schedule_emails'

    = form_for(current_user, :url => { :action => "update_password" }, :html => {:class => 'form form-horizontal'} ) do |f|
      %legend
        Сменить пароль 
      .control-group
        = f.label :password, "Новый пароль", :class => 'control-label'
        .controls
          = f.password_field :password
      .control-group
        = f.label :password_confirmation, "Подтвердите пароль", :class => 'control-label'
        .controls
          = f.password_field :password_confirmation
      .control-group
        .controls
          = f.submit "Сменить пароль", :class => 'btn'
  .span5
    .alert.alert-info
      %h3
        Полезная информация
      %p Lorem ipsum
