%p
  = "Создана заявка на осмот в #{@schedule.center.name} на #{@schedule.hour} часов #{Russian::strftime(@schedule.date, '%d %B %Y')}."
%p Заказчик
%p
Имя:
= @schedule.name
%p
Телефон: 
= @schedule.phone
%p
  Подтвердите заявку по адресу:
  = link_to schedule_url(@schedule, host: 'partners.rosfax.ru'), schedule_url(@schedule, host: 'partners.rosfax.ru')