#schedule-calendar
  %legend Календарь осмотров
  - schedules = []
  %table.table-bordered.table-striped.table
    %thead
      %tr
        %th
          День
        - index = 0
        - (1..7).each do |i|
          / - i += params[:day].to_i if params[:day]
          - schedules[index] = @schedules.select{|schedule| schedule.inspection_start_time == [Date.today + i.days .. Date.today + i.days + 1]}
          - if (Date.today + i.days) == Date.today
            %th.text-info
              = Russian::strftime(Date.today + i.days, "%d %B")
              %br/
              = Russian::strftime(Date.today + i.days, "%A").mb_chars.downcase
          - else
            %th
              = Russian::strftime(Date.today + i.days, "%d %B")
              %br/
              = Russian::strftime(Date.today + i.days, "%A").mb_chars.downcase

          - index += 1
      - 9.upto(18) do |hour|
        %tr{style: 'height: 43px'}
          %td
            = "#{hour}:00"
          - 7.times do |i|
            - day = i - 1 + (params[:day].to_i if params[:day]).to_i

            - if schedules[i]
              - js_data = {hour: hour, company_id: @center.id, date: (Date.today + i.days + 1.day).to_date}
              - if @schedules.select{|s| s.hour == hour and s.date == Date.today + i+1.day}.first == @schedule and @schedule
                %td.booked{style: 'width: 152px; padding: 2px; cursor: arrow'}
                  .alert.alert-error{style: 'margin: 0px'}
                    %span{style: 'cursor: default'}
                      %h4
                        Эта
              - elsif @schedules.select{|s| s.hour == hour and s.date == Date.today + i+1.day}.any?
                %td.booked{style: 'width: 152px; padding: 2px; cursor: arrow'}
                  .alert.alert-info{style: 'margin: 0px'}
                    %span{style: 'cursor: default'}
                      Забронировано
              - elsif @center.blocks.select{|s| s.hour == hour and s.date == Date.today + i+1.day}.any?
                - block_data = js_data.merge id: (@center.blocks.select{|s| s.hour == hour and s.date == Date.today + i+1.day}[0].id)
                %td.blocked{style: 'width: 152px; padding: 2px; cursor: arrow', data: block_data}
                  .alert.alert-disabled{style: 'margin: 0px'}
                    %span{style: 'cursor: default'}
                      Нет приема
              - else
                %td.free{style: 'width: 152px; padding: 2px', data: js_data}
                  .alert.alert-success{style: 'margin: 0px; display: none; cursor: pointer'}
                    Свободно