.container#selector
  %legend
    Осмотры

  %table.table.table-striped.table-bordered.table-condensed#schedules_table
    %tr
      %th Имя
      %th Телефон
      %th Организация
      %th Время
      %th Дата
      %th Управление
    - for schedule in @schedules
      %tr.schedule{id: schedule.id}
        %td= schedule.name
        %td= schedule.phone
        %td= schedule.center.name
        %td
          = schedule.hour
          часов
        %td
          = Russian::strftime(schedule.date, '%-d %B %Y')
        %td.actions{style: 'width: 140px'}
          = link_to glyph(:edit), schedule_path(schedule), class: 'btn btn-primary btn-small hide', id: :edit_schedule
          - if schedule.confirmed
            = link_to glyph(:ok), schedule_confirm_path(schedule, :schedule => {:confirmed => false}, :format => :js),method: :put, remote: true, class: 'btn btn-success btn-small hide', id: 'unconfirm'
          - else
            = link_to '!', schedule_confirm_path(schedule, :schedule => {:confirmed => true}, :format => :js),method: :put, remote: true, class: 'btn btn-danger btn-small hide', id: 'confirm'
          = link_to glyph(:remove), schedule, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger hide'



