<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Rosfax.ru - Для чего Вам необходима диагностика автомобиля перед покупкой?</title>

    <%= stylesheet_link_tag 'home/style_2' %>
    <%= javascript_include_tag '_home' %>
    
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


</head>
<body>

<div id="catalog">
    <a href="#"></a>
</div>

<div class="main">
    <div class="container">
    
        <header id="head">

                  <%= render 'application/top_menu' %>

            <div id="top_text">
                <h3>Для чего Вам необходима диагностика?</h3>                   
                <p><b>Во-первых</b>, для того чтобы убедиться, что приобретаемое авто не было восстановлено после серьезной аварии, а показания одометра соответствуют реальному пробегу машины.
                </p>
				<p><b>Во-вторых</b>, чтобы проверить техническое состояние автомобиля, выявить возможные неисправности и определить стоимость их ремонта.
                </p>
				<p>Мы понимаем Ваши опасения и риски связанные с покупкой подержанного авто. Основываясь только на визуальном осмотре и заверениях продавца можно вместо хорошего авто, купить огромный набор проблем. Проверка проведенная опытными инспекторами RosFax поможет Вам принять правильное решение о покупке.				
				</p>
				
                <span>Почему Rosfax это лучший выбор для проверки авто?</span>
                <ul>
                    <li>Rosfax – это сотрудники официальных дилеров с многолетним опытом и современным оборудованием</li>
                    <li>Rosfax – это компания с единым федеральным стандартом</li>
                    <li>Rosfax – постоянно проверяет своих инспекторов, и гарантирует качество их работы</li>
                </ul>
                <p>Будьте разумны, не полагайтесь на слова продавца, которому возможно есть, что скрывать. Не принимайте решение о покупке без профессионального осмотра автомобиля, и отчета о его состоянии, тем более, что сейчас действует акция: отчет RosFax всего лишь за 1000 руб.</p>
                <p>Запишитесь прямо сейчас!</p>
            </div>
        </header>
        
        <section id="wrapper">
            <section class="how_much">
                <h4>Сколько стоит Rosfax?</h4>
                <div class="price">
                    <span>1000 р</span>
                    до 1 июня 2013
                </div>
                <p>До лета действует специальное предложение. Обычная цена 2000 руб. минус скидка 50%.</p>
            </section>
            <section class="order">
                <h4>Как пройти осмотр?</h4>
                <p>Запишитесь на осмотр онлайн - в 2 клика! Бронирование БЕСПЛАТНО и ни к чему Вас не обязывает. Выберите ближайший центр Rosfax, удобную дату/время и оставьте Ваш номер телефона. <br><br> Вуаля! Вас уже ждут. Приезжайте! 
                </p>
                <a href="<%= new_schedule_url %>" class="order_link">Запись на осмотр</a>
            </section>
            <!--<section class="detailed">-->
                  <!--<div class="detailed_block">-->
                      <!--<div class="detailed_block_img">-->
                          <!--<img src="<%= asset_path 'home/i5.png' %>">-->
                      <!--</div>-->
                      <!--<a href="#">Как работает Rosfax</a>-->
                  <!--</div>-->
                  <!--<div class="detailed_block">-->
                      <!--<div class="detailed_block_img">-->
                          <!--<img src="<%= asset_path 'home/i6.png' %>">-->
                      <!--</div>-->
                      <!--<a href="#">Проверенные авто</a>-->
                  <!--</div>-->
                  <!--<div class="detailed_block">-->
                      <!--<div class="detailed_block_img">-->
                          <!--<img src="<%= asset_path 'home/i7.png' %>">-->
                      <!--</div>-->
                      <!--<a href="#">Отзывы</a>-->
                  <!--</div>-->
                  <!--<div class="detailed_block">-->
                      <!--<div class="detailed_block_img">-->
                          <!--<img src="<%= asset_path 'home/i8.png' %>">-->
                      <!--</div>-->
                      <!--<a href="#">Пункты осмотра</a>-->
                  <!--</div>-->
            <!--</section>-->
        </section>
        
    </div>
          
    <div class="hfooter"></div>
</div>

<footer id="footer">
    <div class="main">
        <div class="container">
            <div id="about">
                &copy; 2009-2013 «Росфакс»
            </div>
            <div id="soc">
                <ul>
                    <li><a href="#"><img src="<%= asset_path 'home/soc01.png' %>"></a></li>
                    <li><a href="#"><img src="<%= asset_path 'home/soc02.png' %>"></a></li>
                    <li><a href="#"><img src="<%= asset_path 'home/soc03.png' %>"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</div>


</body>
</html>
