.row-fluid#defects-compiled
  .btn.btn-primary.btn-large.add_defect
    Новый дефект
  .span8.defects
    - for defect in @report.defects.reverse
      .form-inline.defect{:data => {:report_id => @report.id, :id => defect.id, :category => defect.category}}
        %fieldset
          .span5
            .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
              .btn{:style => 'width: 80%'}
                = t("#{defect.category}.title")
              .btn.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret
              %ul.dropdown-menu
                - Report.sorted_defects_categories.keys.each do |i|
                  %li
                    .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => 'category', :category => i}}= t("#{i}.title").to_s
            %br/

            .btn-group{:style => 'width: 94%'}
              .btn{:style => 'width: 80%; margin-top: -10px'}
                - if defect.sub_category
                  =t("defects.#{defect.category}.#{defect.sub_category}")
                - else
                  Категория
              .btn.undercat.dropdown-toggle{"data-toggle" => "dropdown", :style => 'margin-top: -10px'}
                %span.caret
              %ul.dropdown-menu
                - if defect.sub_category
                  - Report.sorted_defects_categories[defect.category.to_sym].each do |i|
                    %li
                      .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => 'sub_category', 'sub_category' => i}}= t("defects.#{defect.category}.#{i}")

          .span5
            .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
              .btn{:style => 'width: 80%'}
                - if defect.defect_type
                  = t("defect_type.#{defect.defect_type}")
                - else
                  Тип дефекта
              .btn.defect_type.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret
              %ul.dropdown-menu
                - %w(dent scratch cleavage not_paont_cleaveage crack attrition rust traces_of_repair missing_part).each do |i|
                  %li
                    .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => 'defect_type', "defect_type" => i}}= (t("defect_type.#{i}").to_s)
            %br/
            .btn-group{:style => 'width: 94%'}
              .btn{:style => 'width: 80%; margin-top: -10px'}
                - if defect.size
                  =t(defect.size)
                - else
                  Размер
              .btn.defect-size.dropdown-toggle{"data-toggle" => "dropdown", :style => 'margin-top: -10px'}
                %span.caret
              %ul.dropdown-menu.pull-right
                - ['0-5 см', "5-15 см", "15-30 см", "30+ см"].each do |i|
                  %li
                    .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => :size,  :size => i}}= i
          .span2
            = render :partial => 'drop', :locals => {:object => defect, :place => :one, :attribute => 'defects'}

      %hr/



  .form-inline.defect_template.hide{:data => {:report_id => @report.id}}
    %fieldset
      .span5
        .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
          .btn{:style => 'width: 80%'}
            Место дефекта
          .btn.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            - Report.sorted_defects_categories.keys.each do |i|
              %li
                .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => 'category', :category => i}}= t("#{i}.title").to_s
        %br/

        .btn-group{:style => 'width: 94%'}
          .btn{:style => 'width: 80%; margin-top: -10px'}
            Категория дефекта
          .btn.undercat.dropdown-toggle{"data-toggle" => "dropdown", :style => 'margin-top: -10px'}
            %span.caret
          %ul.dropdown-menu


      .span5
        .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
          .btn{:style => 'width: 80%'}
            Тип дефекта
          .btn.defect_type.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            - %w(dent scratch cleavage not_paont_cleaveage crack attrition rust traces_of_repair missing_part).each do |i|
              %li
                .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => 'defect_type', "defect_type" => i}}= (t("defect_type.#{i}").to_s)
        %br/
        .btn-group{:style => 'width: 94%'}
          .btn{:style => 'width: 80%; margin-top: -10px'}
            Размер
          .btn.defect-size.dropdown-toggle{"data-toggle" => "dropdown", :style => 'margin-top: -10px'}
            %span.caret
          %ul.dropdown-menu.pull-right
            - ['0-5 см', "5-15 см", "15-30 см", "30+ см"].each do |i|
              %li
                .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => :size,  :size => i}}= i
      .span2
        = render :partial => 'drop', :locals => {:object => Defect.new, :place => :one, :attribute => 'defects'}

  .categories.hide
    = Report.defects_categories.to_json
