.row-fluid#defects-compiled
  .btn.btn-primary.btn-large.add_defect
    Новый дефект
  .span8.defects
    - for defect in @report.defects.reverse
      .form-inline.defect{:data => {:object => :defect, :report_id => @report.id, :id => defect.id, :section => defect.section, :place => defect.place, :condition => defect.condition}}
        %fieldset
          .span5
            .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
              .btn{:style => 'width: 80%'}
                = t("#{defect.section}.title")
              .btn.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret
              %ul.dropdown-menu
                - Report.sorted_defects_categories.keys.each do |i|
                  %li
                    .dropdown-element{:data => {:object => :defect, :change => 'section', :value => i}}= t("#{i}.title").to_s
            %br/

            .btn-group{:style => 'width: 94%'}
              .btn{:style => 'width: 80%; margin-top: -10px'}
                - if defect.place
                  =t("defects.#{defect.section}.#{defect.place}")
                - else
                  Категория
              .btn.undercat.dropdown-toggle{"data-toggle" => "dropdown", :style => 'margin-top: -10px'}
                %span.caret
              %ul.dropdown-menu
                - if defect.section
                  - Report.sorted_defects_categories[defect.section.to_sym].each do |i|

                    %li
                      .dropdown-element{:data => {:object => :defect, :change => 'place', :value => i}}= t("defects.#{defect.section}.#{i}")


          .span5
            .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
              .btn{:style => 'width: 80%'}
                - if defect.condition
                  = t("defect_type.#{defect.condition}")
                - else
                  Тип дефекта
              .btn.defect_type.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret
              %ul.dropdown-menu
                - %w(dent scratch cleavage not_paont_cleaveage crack attrition rust traces_of_repair missing_part).each do |i|
                  %li
                    .dropdown-element{:data => {:object => :defect, :change => 'condition', :value => i}}= t("defect_type.#{i}").to_s
          %br/
          .span2
            = render :partial => 'drop', :locals => {:object => defect, :place => :one, :attribute => 'defects'}
      %hr/



  .form-inline.defect_template.hide{:data => {:report_id => @report.id, :object => :defect}}
    %fieldset
      .span5
        .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
          .btn{:style => 'width: 80%'}
            Место дефекта
          .btn.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            - Report.sorted_defects_categories.keys.each do |i|
              %li
                .dropdown-element{:data => {:object => :defect, :change => 'section', :value => i}}= t("#{i}.title").to_s
        %br/

        .btn-group{:style => 'width: 94%'}
          .btn{:style => 'width: 80%; margin-top: -10px'}
            Категория дефекта
          .btn.undercat.dropdown-toggle{"data-toggle" => "dropdown", :style => 'margin-top: -10px'}
            %span.caret
          %ul.dropdown-menu


      .span5
        .btn-group{:style => 'width: 94%; margin-bottom: 11px; margin-top: 5px'}
          .btn{:style => 'width: 80%'}
            Тип дефекта
          .btn.defect_type.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            - %w(dent scratch cleavage not_paont_cleaveage crack attrition rust traces_of_repair missing_part).each do |i|
              %li
                .dropdown-element{:data => {:attribute => 'defect', :defect => '', :change => 'defect_type', "defect_type" => i}}= (t("defect_type.#{i}").to_s)
        %br/

      .span2
        = render :partial => 'drop', :locals => {:object => Defect.new, :place => :one, :attribute => 'defects'}

  .categories.hide
    = Report.defects_categories.to_json
