#tab_general.tab-pane.active
  .accordion{style: 'background-color: white'}
    .accordion-group
      .accordion-heading
        .row-fluid
          .span10
            .accordion-toggle{id: "tab_general", data: {toggle: :collapse, target: "#general"}}
              %h4 Общая
      #general.accordion-body.collapse.in
        .accordion-inner

          .row{:style => 'margin-bottom: 15px;'}
            .span6.offset2
              %li.btn-group.radio
                .btn.checkbox.btn{:data => {:section => 'info', :attribute => :publish, :publish => 'false'}, :class => ('btn-primary' unless @report.publish)} Не показывать всем
                .btn.checkbox.btn{:data => {:section => 'info',:attribute => :publish, :publish => 'true'}, :class => ('btn-primary' if @report.publish)} Публичный
          .form-horizontal
            .control-group
              .control-label
                Марка/модель
              .controls
                = text_field 'report[car]', 'mark_model', :value => (@report.car['mark_model']), :data => {:provide => 'typeahead', :source => @models, :attribute => :car, :place => :attr, :change => :mark_model}, :autocomplete => 'off'
            .control-group
              .control-label
                Год выпуска
              .controls
                .btn-group
                  %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 68px'}
                    = (@report.car['car']['year'] if @report.car['car']) || '---'
                    %span.caret
                  %ul.dropdown-menu.pull-left
                    - (1980..2012).to_a.reverse.each do |i|
                      %li                      
                        .dropdown-element{:data => {attribute: :year, :year => i}}=i
            .control-group
              .control-label
                Гос. номер
              .controls
                = text_field 'report[car]', 'gov_number', :value => @report.car['gov_number'],  :placeholder => 'A 999 AA 999', :data => {:attribute => :car,:change => :gov_number}
            .control-group
              .control-label
                VIN
              .controls
                = text_field 'report[car]', 'vin', :value => @report.car['vin'], :placeholder => '*** ****** ****9999',  :data => {:attribute => :car, :change => 'vin'}
            .control-group
              .control-label
                Цена
              .controls
                = text_field 'report[car]', 'price', :value => @report.car['price'], :placeholder => 'тыс. рублей',  :data => {:attribute => :car, :change => 'price'}
            .control-group
              .control-label
                Страна производитель
              .controls
                .btn-group
                  %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 100px'}
                    = (@report.car['car']['country'] if @report.car['car']) || '---'
                    %span.caret
                  %ul.dropdown-menu.pull-left
                    - %w(Россия Америка Германия Франция Италия Испания Англия Япония Корея Китай).sort.each do |i|
                      %li
                        .dropdown-element{:data => {:attribute => 'car', :place => 'car', :change => 'country', :country => i}}=i
                    %li.divider
                    %li
                      .dropdown-element{:data => {:attribute => 'car', :place => 'car', :change => 'country', :country => 'Прочие'}} Прочее


            %legend
              Основные характеристики
            .control-group
              .control-label
                Привод
              .controls
                .btn-group
                  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                    = @report.car['drive'] || '---'
                    %span.caret
                  %ul.dropdown-menu.pull-left
                    - ['передний', 'задний', 'полный'].each do |i|
                      %li
                        .dropdown-element{:data => {:attribute => :car, :change => :drive, :drive => i}}=i
            .control-group
              .control-label
                Пробег
              .controls
                = text_field 'report[car]', 'mileage', :value => (@report.car['mileage']), :data => {:attribute => :car, :change => :mileage}
            .control-group
              .control-label
                Топливо
              .controls
                .btn-group
                  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                    = @report.car['engine_type'] || '---'
                    %span.caret
                  %ul.dropdown-menu.pull-left
                    - ['бензин', 'дизель', 'гибрид'].each do |i|
                      %li
                        .dropdown-element{:data => {:attribute => :car, :change => :engine_type, :engine_type => i}}=i
            .control-group
              .control-label
                Коробка передач
              .controls
                .btn-group
                  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                    = @report.car['transmission'] || '---'
                    %span.caret
                  %ul.dropdown-menu.pull-left
                    - ['автомат', 'механика'].each do |i|
                      %li
                        .dropdown-element{:data => {:attribute => :car, :change => :transmission, :transmission => i}}=i
            .control-group
              .control-label
                Объем двигателя
              .controls
                = text_field 'report[car]', 'cylinder_amount', :value => @report.car['cylinder_amount'],  :data => {:attribute => :car, :change => 'cylinder_amount'}
            .control-group
              .control-label
                Мощность л.с.
              .controls
                = text_field 'report[car]', 'hors_power', :value => @report.car['hors_power'],  :data => {:attribute => :car, :change => 'hors_power'}
            %legend
              Покупатель
            .control-group
              .control-label
                ФИО
              .controls
                = text_field 'report[car]', 'buyer_name', :value => (@report.car['buyer']['name'] if @report.car['buyer']),  :data => {:attribute => :car, :place => :buyer, :change => 'name'}
            .control-group
              .control-label
                Телефон
              .controls
                = text_field 'report[car]', 'buyer_phone', :value => (@report.car['buyer']['phone'] if @report.car['buyer']),  :data => {:attribute => :car, :place => :buyer, :change => 'phone'}
            %legend
              Продавец
            .control-group
              .control-label
                ФИО
              .controls
                = text_field 'report[car]', 'seller_name', :value => (@report.car['seller']['name'] if @report.car['seller']),  :data => {:attribute => :car, :place => :seller, :change => 'name'}
            .control-group
              .control-label
                Телефон
              .controls
                = text_field 'report[car]', 'buyer_phone', :value => (@report.car['seller']['phone'] if @report.car['seller']),  :data => {:attribute => :car, :place => :seller, :change => 'phone'}