= form_for current_user.subscriptions.new do |f|
  - if @subscription.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscription.errors.count, "error")} prohibited this subscribtion from being saved:"
      %ul
        - @subscription.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :filter
    = f.text_area :filter
  .field
    = f.label :by_email
    = f.check_box :by_email
  .field
    = f.label :email_period
    = f.number_field :email_period
  .actions
    = f.submit 'Save'
