
.container
  = form_for resource, :as => resource_name, :url => session_path(resource_name), :remote => true, :html => {:class => 'form form-horizontal'} do |f|
    %legend
      Войти
    .row
      .span5
        .control-group
          .control-label
            = f.label :email
          .controls
            = f.email_field :email
        .control-group
          .control-label
            = f.label :password
          .controls
            = f.password_field :password
        - if devise_mapping.rememberable?
          .control-group
            .control-label
              = f.label :remember_me
            .controls
              = f.check_box :remember_me
      .span4.alerts
        
    .row
      .span12
        .form-actions
          = f.submit "Войти", :class => 'btn btn-primary', :data => {'loading-text' => "Авторизация..."}
          %br/
          %br/
          = render "devise/shared/links"
  
