%h1 Listing subscribtions

%table
  %tr
    %th User
    %th Filter
    %th By email
    %th Email period
    %th
    %th
    %th

  - @subscribtions.each do |subscribtion|
    %tr
      %td= subscribtion.user_id
      %td= subscribtion.filter
      %td= subscribtion.by_email
      %td= subscribtion.email_period
      %td= link_to 'Show', subscribtion, class: :btn
      %td= link_to 'reports', subscribtion_reports_path(subscribtion), class: :btn
      %td= link_to 'Edit', edit_subscribtion_path(subscribtion), class: :btn
      %td= link_to 'Destroy', subscribtion, method: :delete, data: { confirm: 'Are you sure?' }, class: :btn

%br

= link_to 'New Subscribtion', new_subscribtion_path