%p#notice= notice

%p
  %b User:
  = @subscribtion.user_id
%p
  %b Filter:
  = @subscribtion.filter
%p
  %b By email:
  = @subscribtion.by_email
%p
  %b Email period:
  = @subscribtion.email_period

= link_to 'Edit', edit_subscribtion_path(@subscribtion)
\|
= link_to 'Back', subscribtions_path
