#checklist.tab-pane
  .row
    .span2
      .tabbable.tabs-left.affix#checklist_nav
        %ul.nav.nav-tabs
          - for tab in Report::CHECKLIST.keys
            %li
              %a{:href => "#tab_#{tab}"}
                = t("checklist.#{tab}.title")
                %span{:style => 'color: #ddd'}
                  = @report.points.where(:object => :checklist, :section => tab).count
                  \/
                  = Report::CHECKLIST[tab][:names].flatten.count

    
    .span10{:data => {:spy => :scroll, :target => '#checklist_nav'}}

      - for tab in Report::CHECKLIST.keys
        .accordion{style: 'background-color: white'}
          .accordion-group
            .accordion-heading
              .row-fluid
                .span10
                  .accordion-toggle{id: "tab_#{tab}", data: {toggle: :collapse, target: "##{tab.to_s}"}}
                    %h4= t("checklist.#{tab}.title")                    
                .span2
                  .accordion-toggle
                    .btn.btn-large.new_all_ok.pull-right Все ок
              
            .accordion-body.collapse.in{id: tab}
              .accordion-inner
                - index = 0
                - for block in Report::CHECKLIST[tab][:names]
                   
                  - if Report::CHECKLIST[tab][:legends]
                    %legend= Report::CHECKLIST[tab][:legends][index]
                  - for param in block
                  
                    - parameters = {:report_id => @report.id, :object => 'checklist', :section => 'tab', :place => param}  
                    - if check = @points.select{|i| i.place == param}.first
                      - parameters[:id] = check.id
                    .row-fluid.object.form-inline{:data => parameters, :style => 'display: table'}
                      .span2                    
                        = t("checklist.#{tab}.#{param}").to_s+ ':'
                      .span5
                        .divv{:style => 'margin-top: 0px; text-align: center'}
                          .btn-group.pads.radio
                            - Report::CHECKLIST[tab][:values][index].each do |i|
                              - parameters[:condition] = i
                              - klass = ''
                              - klass += 'btn-primary' if check.condition == i if check
                              - klass += tab == 'coating' ? ' btn-small' : ' btn-large'


                              %button.check.btn{:class => klass, :data => parameters}= i
                      .span3
                        %input.span10{:data => parameters, :type => :text, :value => (check.description if check), :disabled => :disabled}
                      .span1.camera
                        .btn.btn-large
                          %i.icon-camera

                          .file-input
                            %input{type: :file}
                    %hr{style: 'margin: 5px 0'}/
                  - index += 1

