#checklist.tab-pane.left
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs
      - for tab in %w(documents coating lights electronic liquids completion)
        %li
          %a{"data-toggle" => "tab", :href => "##{tab}"}
            = t("tab.#{tab}")
            %span{:style => 'color: #ddd'}
            - if @report.counters[:checklist][tab.to_sym]
              = @report.counters[:checklist][tab.to_sym][2]

    .tab-content.second{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;overflow: hidden;height: 750px"}
      - for tab in %w(documents coating lights electronic liquids completion)
        - if tab == 'coating'
          .tab-pane{:id => tab, :style => "background-image: url('https://s3-eu-west-1.amazonaws.com/rosfax/coating.jpg'); background-repeat: no-repeat; height: 1000px"}
            = render :partial => "reports/tabs/#{tab}", :locals => {:report => @report}
        - else
          .tab-pane{:id => tab}
            = render :partial => "reports/tabs/#{tab}", :locals => {:report => @report}
