.span12
  .span4.well
    %h5 Владельцы
    %form.form-horizontal
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Серия
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'series', :style => 'width: 175px'
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Выдан
        .controls{:style => 'margin-left: 48px'}
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Кем
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'dep', :style => 'width: 175px'
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Страна
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'country', :style => 'width: 175px'
      .control-group
        .controls{:style => 'margin-left: 48px'}
          %label.checkbox.inline
            %input{:type => 'checkbox', :id => 'original', :value => 'true'}  Оригинал
          %label.checkbox.inline
            %input{:type => 'checkbox', :id => 'original', :value => 'false'}  Дубликат
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} VIN
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'vin', :style => 'width: 175px'

  .span8.well
    %h5 ПТС
    .form-horizontal
      .control-group.inline
        %label.control-label{:for => 'owners_1_1', :style => 'width: 0px'} 1.
        .controls{:style => 'margin-left: 9px'}
          .btn-toolbar.pull-left{:style => 'width: 125px; margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn#exist_1 ok
              %button.btn#absent_1 не ok
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
      .control-group.inline
        %label.control-label{:for => 'owners_1_', :style => 'width: 0px'} 1.
        .controls{:style => 'margin-left: 9px'}
          .btn-toolbar.pull-left{:style => 'width: 125px; margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn ok
              %button.btn не ok
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
      .control-group.inline
        %label.control-label{:for => 'owners_1_', :style => 'width: 0px'} 1.
        .controls{:style => 'margin-left: 9px'}
          .btn-toolbar.pull-left{:style => 'width: 125px; margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn ok
              %button.btn не ok
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
      .control-group.inline
        %label.control-label{:for => 'owners_1_', :style => 'width: 0px'} 1.
        .controls{:style => 'margin-left: 9px'}
          .btn-toolbar.pull-left{:style => 'width: 125px; margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn ok
              %button.btn не ok
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
      .control-group.inline
        %label.control-label{:for => 'owners_1_', :style => 'width: 0px'} 1.
        .controls{:style => 'margin-left: 9px'}
          .btn-toolbar.pull-left{:style => 'width: 125px; margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn ok
              %button.btn не ok
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
      .control-group.inline
        %label.control-label{:for => 'owners_1_', :style => 'width: 0px'} 1.
        .controls{:style => 'margin-left: 9px'}
          .btn-toolbar.pull-left{:style => 'width: 125px; margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn ok
              %button.btn не ok
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px'
            %span.add-on{:style => 'margin-left: -5px'} U
