.span12.documents
  .span4.well
    %h5 ПТС
    .form-horizontal
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Серия
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'series', :style => 'width: 175px', :data => {:attribute => :documents, :place => :pts, :change => :series}
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Выдан
        .controls{:style => 'margin-left: 48px'}
          .input-append
            = text_field 'pts', 'created_at', :style => 'width: 147px',:class => 'pick_date', :data => {:attribute => :documents, :place => :pts, :change => :issued}
            %span.add-on{:style => 'margin-left: -5px'}
              %i.icon-calendar
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Кем
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'dep', :style => 'width: 175px', :data => {:attribute => :documents, :place => :pts, :change => :whom}
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} Страна
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'country', :style => 'width: 175px', :data => {:attribute => :documents, :place => :pts, :change => :country}
      .control-group
        .controls{:style => 'margin-left: 43px'}
          .btn-group.pads.radio
            %button.btn{:data => {:attribute => :document, :place => :pts, :change => :document_validity, :exist => true}} Оригинал
            %button.btn{:data => {:attribute => :document, :place => :pts, :change => :document_calidity, :exist => false}} Дубликат
      .control-group
        %label.control-label{:for => 'pts_series', :style => 'width: 0px'} VIN
        .controls{:style => 'margin-left: 48px'}
          = text_field 'pts', 'vin', :style => 'width: 175px', :data => {:attribute => :documents, :place => :pts, :change => :country}

  .span8.well
    %h5 Владельцы
    .form-horizontal
      - (1..6).to_a.each do |i|
        .control-group.inline
          %label.control-label{:for => 'owners', :style => 'width: 0px'}=i.to_s + '.'
          .controls{:style => 'margin-left: 9px'}
            .btn-toolbar.pull-left{:style => 'width: 125px; margin-top: 0px'}
              .btn-group.pads.radio
                %button.btn{:data => {:attribute => :document, :place => 'owner', :change => 'exist', :exist => true}}ok
                %button.btn.btn-ptimary{:data => {:attribute => :document, :place => 'owner_number', :change => 'exist', :exist => false}} не ok
            .input-append
              = text_field 'pts', 'created_at', :style => 'width: 147px',:class => 'pick_date', :data => {:attribute => :documents, :place => :pts, :change => :"country"}
              .add-on{:style => 'margin-left: -5px'}
                %i.icon-calendar
            .input-append
              = text_field 'pts', 'created_at', :style => 'width: 147px',:class => 'pick_date', :id => "owner_#{i}_ends_owning", :data => {:attribute => :documents, :place => :pts, :change => :"country"}
              %span.add-on{:style => 'margin-left: -5px'}
                %i.icon-calendar
