.row{:style => 'margin-left: 0px; margin-bottom: 10px'}
  .span12
    .btn.btn-large.all_ok{:style => 'margin-left: 46%'} Все ок
.row{:style => 'margin-left: 0px'}
  .span6
    .well.well-small
      %legend Заголовок 1
      .form-horizontal
        - Report::ELECTRONIC[0..6].each do |param|
          - parameters = {:report_id => @report.id, :object => object, :section => 'electronic', :place => param}
          - if check = @points.select{|i| i.place == param}.first
            - parameters[:id] = check.id
          .control-group.object{:data => parameters}
            %label.control-label= t("checklist.electronic.#{param}").to_s+ ':'
            .controls
              .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                .btn-group.pads.radio
                  -%w(ОК УД НЕУД).each do |i|
                    - parameters[:condition] = i
                    %button.check.btn{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i

  .span6
    .well.well-small
      %legend Заголовок 2
      .form-horizontal
        - Report::ELECTRONIC[7..-1].each do |param|
          - parameters = {:report_id => @report.id, :object => object, :section => :electronic, :place => param}
          - if check = @points.select{|i| i.place == param}.first
            - parameters[:id] = check.id
          .control-group.object{:data => parameters}
            %label.control-label= t("checklist.electronic.#{param}").to_s+ ':'
            .controls
              .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                .btn-group.pads.radio
                  -%w(ОК УД НЕУД).each do |i|
                    - parameters[:condition] = i
                    %button.check.btn{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i