/TODO: WEBASTO
/TODO: Сигнализация

#elements.tab-pane
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs.second
      %li.active
        %a{"data-toggle" => "tab", :href => "#eexterior"}
          Экстерьер
          %span{:style => 'color: #ddd'}
            = "#{@report.elements.where(:section => :exterior).count}/#{Report::DEFECTS_CATEGORIES[:exterior].count}"
      %li
        %a{"data-toggle" => "tab", :href => "#iinterior"}
          Интерьер
          %span{:style => 'color: #ddd'}
            = "#{@report.elements.where(:section => :interior).count}/#{Report::DEFECTS_CATEGORIES[:interior].count}"
      %li
        %a{"data-toggle" => "tab", :href => "#wwindows_and_lights"}
          Стекла и фары
          %span{:style => 'color: #ddd'}
            = "#{@report.elements.where(:section => :windows_and_lights).count}/#{Report::DEFECTS_CATEGORIES[:windows_and_lights].count}"
      %li
        %a{"data-toggle" => "tab", :href => "#wheels"}
          Колеса
          %span{:style => 'color: #ddd'}
            = "#{@report.wheels.keys.count}/4"

    .tab-content{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;overflow: hidden"}
      
      #eexterior.tab-pane.active.row-fluid
        .row{:style => 'margin-left: 0px; margin-bottom: 10px'}
          .span12
            .btn.btn-large.all_ok{:style => 'margin-left: 46%'} Все ок

        .span7.well.well-small
          .form-horizontal
            %ul.thumbnails
              - Report::EXTERIOR.each do |param|
                - parameters = {:report_id => @report.id, :object => 'elements', :section => 'exterior', :place => param}
                - if @points.select{|i| i.place == param}.select{|i| i.object == 'elements'}.any?
                  - check = @points.select{|i| i.place == param}.select{|i| i.object == 'elements'}.first
                  - parameters[:id] = check.id 
                %li.pull-left{:style => 'width: 49%; margin-left: 0px'}
                  .object{:data => parameters, :style => 'height: 50px; margin-bottom: 0px'}
                    .span5
                      = render :partial => 'element_drop', :locals => {:object => check || Point.new, :place => :one}
                    .span7
                      .customlabel{:style => 'white-space: nowrap'}= t("defects.exterior.#{param}").to_s+ ':'
                      .controls{:style => 'margin: 0px'}
                        .pull-left{:style => ' margin-top: -3px; margin-bottom: 0px'}
                          .btn-group{:style => 'width: 100px; margin-bottom: 8px; margin-top: 8px'}
                            .btn.btn-mini{:style => 'width: 70px'}
                              - if check.try(:state)
                                = check.state
                              - else
                                Состояние
                            .btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
                              %span.caret
                            %ul.dropdown-menu
                              - %w(Завод Ремонт Замена Покраска).each do |i|
                                %li
                                  .dropdown-element.alone{:data => {:change => :state,:value => i}}= t(i).to_s
                        .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                          .btn-group.pads.radio{:style => 'padding-left: 0px'}
                            -%w(ок мелкие крупные).each do |i|
                              - parameters[:condition] = i
                              %button.check.btn.btn-mini{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i


      #iinterior.row-fluid.tab-pane
        .row{:style => 'margin-left: 0px; margin-bottom: 10px'}
          .span12
            .btn.btn-large.all_ok{:style => 'margin-left: 46%'} Все ок
        .span7.well.well-small
          .form-horizontal
            %ul.thumbnails
              - Report::DEFECTS_CATEGORIES[:interior].each do |param|
                - parameters = {:report_id => @report.id, :object => 'elements', :section => 'interior', :place => param}
                - if check = @points.select{|i| i.place == param}.first
                  - parameters[:id] = check.id

                %li.pull-left{:style => 'width: 49%; margin-left: 0px'}
                  .object{:data => parameters, :style => 'height: 50px; margin-bottom: 0px'}
                    .span5
                      = render :partial => 'element_drop', :locals => {:object => check || Point.new, :place => :one}
                    .span7
                      .customlabel{:style => 'white-space: nowrap'}= t("defects.interior.#{param}").to_s+ ':'
                      .controls{:style => 'margin: 0px'}
                        .pull-left{:style => ' margin-top: -3px; margin-bottom: 0px'}
                          .btn-group{:style => 'width: 100px; margin-bottom: 8px; margin-top: 8px'}
                            .btn.btn-mini{:style => 'width: 70px'}
                              - if check.try(:state)
                                = check.state
                              - else
                                Состояние
                            .btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
                              %span.caret
                            %ul.dropdown-menu
                              - %w(Завод Ремонт Замена Покраска).each do |i|
                                %li
                                  .dropdown-element.alone{:data => {:change => :state,:value => i}}= t(i).to_s
                        .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                          .btn-group.pads.radio{:style => 'padding-left: 0px'}
                            -%w(ок мелкие крупные).each do |i|
                              - parameters[:condition] = i
                              %button.check.btn.btn-mini{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i

      #wwindows_and_lights.row-fluid.tab-pane
        .row{:style => 'margin-left: 0px; margin-bottom: 10px'}
          .span12
            .btn.btn-large.all_ok{:style => 'margin-left: 46%'} Все ок

        .span7.well.well-small
          .form-horizontal
            %ul.thumbnails
              - Report::DEFECTS_CATEGORIES[:windows_and_lights].each do |param|
                - parameters = {:report_id => @report.id, :object => 'elements', :section => 'windows_and_lights', :place => param}
                - if check = @points.select{|i| i.place == param}.first
                  - parameters[:id] = check.id
                %li.pull-left{:style => 'width: 49%; margin-left: 0px'}
                  .object{:data => parameters, :style => 'height: 50px; margin-bottom: 0px'}
                    .span5
                      = render :partial => 'element_drop', :locals => {:object => check || Point.new, :place => :one}
                    .span7
                      .customlabel{:style => 'white-space: nowrap'}= t("defects.windows_and_lights.#{param}").to_s+ ':'
                      .controls{:style => 'margin: 0px'}
                        .pull-left{:style => ' margin-top: -3px; margin-bottom: 0px'}
                          .btn-group{:style => 'width: 100px; margin-bottom: 8px; margin-top: 8px'}
                            .btn.btn-mini{:style => 'width: 70px'}
                              - if check.try(:state)
                                = check.state
                              - else
                                Состояние
                            .btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
                              %span.caret
                            %ul.dropdown-menu
                              - %w(Завод Ремонт Замена Покраска).each do |i|
                                %li
                                  .dropdown-element.alone{:data => {:change => :state,:value => i}}= t(i).to_s
                        .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                          .btn-group.pads.radio{:style => 'padding-left: 0px'}
                            -%w(ок мелкие крупные).each do |i|
                              - parameters[:condition] = i
                              %button.check.btn.btn-mini{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i
      #wheels.tab-pane
        = render 'reports/tabs/wheels'