- placements = Report::PHOTO_EXTERIOR
.row-fluid{:id => 'exterior'}

  .span8.well
    %ul.thumbnails
      - for place in placements[0..2]
        = render :partial => 'drop', :locals => {:object => @report, :place => place, :attribute => 'exterior'}

    %ul.thumbnails
      - for place in placements[3..5]
        = render :partial => 'drop', :locals => {:object => @report, :place => place, :attribute => 'exterior'}

    %ul.thumbnails
      - for place in placements[6..8]
        = render :partial => 'drop', :locals => {:object => @report, :place => place, :attribute => 'exterior'}

    .span{:style => "height: 96px; overflow-x: scroll; width: 100%; overflow-y: hidden;border: 1px solid #08C; margin-left: 0"}
      .imgbox#exterior{:style => "height: 110px; width: #{@report.images(:group => 'exterior', :size => 'thumb').size*116}px", :data => {:attribute => 'exterior', :place => placements.first}}
        - for image in @report.images(:group => 'exterior', :size => 'thumb')
          .thumbnail{:style => 'width: 100px; float: left; margin-right: 5px; height: 67px'}
            .thumb{:data => {:attribute => 'exterior', :place => place}}
              = image_tag(image[1])
            .btn.remove_asset.btn-danger.btn-mini{:style => 'position: relative; top: -20px; left: 80px',:id => image ? image[0] : '', :data => {:attribute => 'exterior'}} x



