#info.tab-pane.active
  .row
    .span3{style: 'height: 1px'}
      .pull-right.tabbable.tabs-left.affix#testdive_nav{:style => "margin-bottom: 18px; position: fixed"}
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#tab_general"}
              Общая
              %span{:style => 'color: #ddd'}= 1/1
          %li
            %a{:href => "#tab_documents"}
              Документы
              %span{:style => 'color: #ddd'}= 1/24
          %li
            %a{:href => "#tab_service_history"}
              Сервисная история
              %span{:style => 'color: #ddd'}= 1/24
          %li
            %a{:href => "#tab_links"}
              Ссылки
              %span{:style => 'color: #ddd'}

    .span7
      = render :partial => 'reports/tabs/info/general', :locals => {:report => @report}  
      = render :partial => "reports/tabs/info/documents", :locals => {:report => @report}  
      = render :partial => "reports/tabs/info/service_history", :locals => {:report => @report, :object => 'info', :section => 'service_history', :tab => :service_history}
      = render :partial => 'reports/tabs/info/links', :locals => {:report => @report, :tab => :links}  



