#lA.tab-pane.left.active
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#visual_interior"} Фото
      %li
        %a{"data-toggle" => "tab", :href => "#coating"} Лкп
      %li
        %a{"data-toggle" => "tab", :href => "#windows"} Стекла
      %li
        %a{"data-toggle" => "tab", :href => "#wheels"} Колеса
      %li
        %a{"data-toggle" => "tab", :href => "#brakes"} Тормоза
      %li
        %a{"data-toggle" => "tab", :href => "#dumpers"} Амортизаторы
    .tab-content{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;"}
      #visual_interior.tab-pane.active
        - placements = Report::PLACEMENTS
        .row-fluid
          - for place in placements[0..2]
            .nine.fluid{:style => 'border: 1px solid;height: 68px; width: 100px; float: left; margin: 10px'}
              .drop
                = @report.image(place, 0) ? image_tag(@report.image(place, 0)) : place
        .row-fluid
          - for place in placements[3..5]
            .nine.fluid{:style => 'border: 1px solid;height: 68px; width: 100px; float: left; margin: 10px'}
              .drop
                = @report.image(place, 0) ? image_tag(@report.image(place, 0)) : place
        .row-fluid
          - for place in placements[6..8]
            .nine.fluid{:style => 'border: 1px solid;height: 68px; width: 100px; float: left; margin: 10px'}
              .drop
                = @report.image(place, 0) ? image_tag(@report.image(place, 0)) : place
        .row-fluid{:style => 'border: 1px solid; height: 100px; width: 346px; margin-top:10px; margin-left: 10px'}

      #coating.tab-pane
        - for place in Report::COATING
          .row-fluid{:id => "#{place}"}
            .span3.fluid
              = place
            .span3.fluid
              .drop{:style => 'width: 100px;height: 67px;border: 1px solid',:id => "index_0"}
                = image_tag(@report.image(place, 0)) if @report.image(place, 0)
      #windows.tab-pane
        = form_for 'report', :method => :put do |form|
          - for element in Report::WINDOWS
            %fieldset
              .control-group
                %label.control-label{:for => "input01"}= element
                .control-group.form-inline
                  %input{:id => "report_windows[#{element}]", :name => "report[windows[#{element}]]", :placeholder => element, :size => "30", :type => "text", :value => @report.windows[element]}/
          = form.submit
      #wheels.tab-pane
        = form_for @report do |form|
          %fieldset
            .control-group
              %label.control-label{:for => "input01"} Выоста протектора колес
              .control-group.form-inline
                .input-append
                  %input#input01_01.input-small{:placeholder => 'Первое колесо', :type => 'text'}
                    %span.add-on мм
                  %input#input01_01.input-small{:placeholder => 'Второе колесо', :type => 'text'}
                    %span.add-on мм
                  %input#input01_01.input-small{:placeholder => 'Третье колесо', :type => 'text'}
                    %span.add-on мм
                  %input#input01_01.input-small{:placeholder => 'Четвертое колесо', :type => 'text'}
                    %span.add-on мм
              .control-group.form-inline
                .input-append
                  %input#input01_01.input-small{:placeholder => 'Пятое колесо', :type => 'text'}
                    %span.add-on мм
            .control-group
              .row-fluid{:id => "#{place}_photo"}
                .span3.fluid
                  - for place in Report::WHEEL
                    .drop{:style => 'width: 100px;height: 67px;border: 1px solid',:id => "index_0"  }
                      = image_tag(@report.image(place + '_photo',0)) if @report.image(place + '_photo', 0)
      #brakes.tab-pane
        = form_for 'report', :html => {:class => 'form-horizontal'},:method => :put do |form|
          - for element in Report::BRAKES
            .control-group
              %label.control-label
                =element
              .controls
                - if @report.brakes[element] == 'true'
                  %label.radio
                    %input{:id => "report_brakes[#{element}]", :name => "report[brakes[#{element}]]", :type => "radio", :value => 'true', :checked => ''}
                      ок
                  %label.radio
                    %input{:id => "report_brakes[#{element}]", :name => "report[brakes[#{element}]]", :type => "radio", :value => 'false'}
                      требуют замены
                - else
                  %label.radio
                    %input{:id => "report_brakes[#{element}]", :name => "report[brakes[#{element}]]", :type => "radio", :value => 'true'} ок
                  %label.radio
                    %input{:id => "report_brakes[#{element}]", :name => "report[brakes[#{element}]]", :type => "radio", :value => 'false', :checked => true} требуют замены
          = form.submit
      #dumpers.tab-pane
        = form_for 'report',:html => {:class => 'form-horizontal'},  :method => :put do |form|
          - for element in Report::DUMPERS
            .control-group
              %label.control-label
                =element
              .controls
                - if @report.dumpers[element] == 'true'
                  %label.radio
                    %input{:id => "report_dumpers[#{element}]", :name => "report[dumpers[#{element}]]", :type => "radio", :value => 'true', :checked => ''}
                      true
                  %label.radio
                    %input{:id => "report_dumpers[#{element}]", :name => "report[dumpers[#{element}]]", :type => "radio", :value => 'false'}
                      false
                - else
                  %label.radio
                    %input{:id => "report_dumpers[#{element}]", :name => "report[dumpers[#{element}]]", :type => "radio", :value => 'true'} true
                  %label.radio
                    %input{:id => "report_dumpers[#{element}]", :name => "report[dumpers[#{element}]]", :type => "radio", :value => 'false', :checked => true} false
          = form.submit




