#lB.tab-pane.left
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#documents"}
          Документы
          %span{:style => 'color: #ddd'}= @report.counters[:checklist][:documents][2]

      %li
        %a{"data-toggle" => "tab", :href => "#coating"}
          Краска
          %span{:style => 'color: #ddd'}= @report.counters[:checklist][:coating][2]
      %li
        %a{"data-toggle" => "tab", :href => "#lights"}
          Лампы
          %span{:style => 'color: #ddd'}= @report.counters[:checklist][:lights][2]
      %li
        %a{"data-toggle" => "tab", :href => "#electronic"}
          Электрика
          %span{:style => 'color: #ddd'}= @report.counters[:checklist][:electronic][2]
      %li
        %a{"data-toggle" => "tab", :href => "#liquids"}
          Жидкость
          %span{:style => 'color: #ddd'}= @report.counters[:checklist][:liquids][2]
      %li
        %a{"data-toggle" => "tab", :href => "#complection"}
          Комплект
          %span{:style => 'color: #ddd'}= @report.counters[:checklist][:completion][2]
    .tab-content.second{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;overflow: hidden;height: 750px"}
      #documents.tab-pane.active
        = render 'reports/tabs/documents'
      #coating.tab-pane
        = render :partial => 'reports/tabs/coating', :locals => {:report => @report}
      #lights.tab-pane
        = render 'reports/tabs/lights'
      #electronic.tab-pane
        = render 'reports/tabs/electronic'
      #liquids.tab-pane
        = render 'reports/tabs/liquids'
      #complection.tab-pane
        = render 'reports/tabs/complection'

-#<div class="control-group">
-#            <label class="control-label" for="input01">Text input</label>
-#            <div class="controls">
-#              <input type="text" class="input-xlarge" id="input01">
-#              <p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>
-#            </div>
-#          </div>