.row{:style => 'margin-left: 0px; margin-bottom: 10px'}
  .span12
    .btn.btn-large.all_ok{:style => 'margin-left: 46%'} Все ок
.row{:style => 'margin-left: 0px'}
  .span6
    .well.well-small
      %legend Переднее освещение
      .form-horizontal
        - Report::LIGHTS[0..4].each do |param|
          - parameters = {:report_id => @report.id, :object => 'check', :section => 'lights', :place => param}
          - if check = @points.select{|i| i.place == param}.first
            - parameters[:id] = check.id
          .control-group.object{:data => parameters}
            %label.control-label= t("checklist.lights.#{param}").to_s+ ':'
            .controls
              .btn-toolbar{:style => 'margin-top: 0px'}
                .btn-group.pads.radio{:style => 'padding-left: 0px'}
                  - %w(ок левая правая обе).each do |i|
                    - parameters[:condition] = i
                    %button.check.btn{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i
  .span6
    .well.well-small
      %legend Заднее освещение
      .form-horizontal
        - Report::LIGHTS[5..-1].each do |param|
          - parameters = {:report_id => @report.id, :object => 'check', :section => 'lights', :place => param}
          - if check = @points.select{|i| i.place == param}.first
            - parameters[:id] = check.id
          .control-group.object{:data => parameters}
            %label.control-label= t("checklist.lights.#{param}").to_s+ ':'
            .controls
              .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                .btn-group.pads.radio{:style => 'padding-left: 0px'}
                  - %w(ок левая правая обе).each do |i|
                    - parameters[:condition] = i
                    %button.check.btn{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i

