#testdrive.tab-pane
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#suspension"}
          Подвеска
          %span{:style => 'color: #ddd'}
            = @report.points.where(:object => :testdrive, :section => :suspension).count
            \/
            = Report::SUSPENSION.count
      %li
        %a{"data-toggle" => "tab", :href => "#engine"}
          КПП и ДВС
          %span{:style => 'color: #ddd'}
            = @report.points.where(:object => :testdrive, :section => :engine).count
            \/
            = Report::ENGINE.count
              

      %li
        %a{"data-toggle" => "tab", :href => "#other_tests"} Прочее

    .tab-content{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;overflow: hidden;height: 750px"}
      #suspension.tab-pane.active
        .row{:style => 'margin-left: 0px; margin-bottom: 10px'}
          .span12
            .btn.btn-large.all_ok{:style => 'margin-left: 46%'} Все ок

        .span8.well
          .form-horizontal
            - Report::SUSPENSION.each do |param|
              - parameters = {:report_id => @report.id, :object => 'testdrive', :section => 'suspension', :place => param}  
              - if check = @points.select{|i| i.place == param}.first
                - parameters[:id] = check.id
              .control-group.object{:data => parameters}
                %label.control-label= t("testdrive.suspension.#{param}").to_s+ ':'
                .controls
                  .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                    .btn-group.pads.radio
                      -%w(ок слабо сильно).each do |i|
                        - parameters[:condition] = i
                        %button.check.btn{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i

      #engine.tab-pane
        .row{:style => 'margin-left: 0px; margin-bottom: 10px'}
          .span12
            .btn.btn-large.all_ok{:style => 'margin-left: 46%'} Все ок
        .span5.well
          .form-horizontal
            - Report::ENGINE[0..4].each do |param|
              - parameters = {:report_id => @report.id, :object => 'testdrive', :section => 'engine', :place => param}
              - if check = @points.select{|i| i.place == param}.first
                - parameters[:id] = check.id
              .control-group.object{:data => parameters}
                %label.control-label= t("testdrive.engine.#{param}").to_s+ ':'
                .controls
                  .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                    .btn-group.pads.radio
                      -%w(ОК УД НЕУД).each do |i|
                        - parameters[:condition] = i
                        %button.check.btn{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i
        .span5.well
          .form-horizontal
            - Report::ENGINE[4..-1].each do |param|
              - parameters = {:report_id => @report.id, :object => 'testdrive', :section => 'engine', :place => param}
              - if check = @points.select{|i| i.place == param}.first
                - parameters[:id] = check.id
              .control-group.object{:data => parameters}
                %label.control-label= t("testdrive.engine.#{param}").to_s+ ':'
                .controls
                  .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
                    .btn-group.pads.radio
                      -%w(ОК УД НЕУД).each do |i|
                        - parameters[:condition] = i
                        %button.check.btn{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i


      #other_tests.tab-pane
        .span8.well
          %label
            Примечание
            / = form_for @report do |f|
            /   = f.text_a
          = text_area "doc", 'series', :class => 'span9', :value => (@report.testdrive_description), :data => {:attribute => :testdrive_description}
