#testdrive.tab-pane
  .row
    .span2
      .tabbable.tabs-left.affix#testdive_nav{:style => "margin-bottom: 18px;"}
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#suspension"}
              = t('testdrive.suspension.name')
              %span{:style => 'color: #ddd'}
                = @report.points.where(:object => :testdrive, :section => :suspension).count
                \/
                = Report::SUSPENSION.count
          %li
            %a{:href => "#engine"}
              = t('testdrive.engine.name')
              %span{:style => 'color: #ddd'}
                = @report.points.where(:object => :testdrive, :section => :engine).count
                \/
                = Report::ENGINE.count
                  

          / %li
          /   %a{:href => "#other_tests"} Прочее
    .span10{:data => {:spy => :scroll, :target => '#testdive_nav'}}
      .accordion
        .accordion-group
          .accordion-heading
          
            .row-fluid
              .span10
                .accordion-toggle{data: {toggle: :collapse, target: '#suspension'}}
                  %h4= t("testdrive.suspension.title")
              .span2
                .accordion-toggle
                  .btn.btn-large.new_all_ok.pull-right Все ок
          #suspension.accordion-body.collapse.in
            .accordion-inner
          
              - Report::SUSPENSION[0].each do |param|
                
                - parameters = {:report_id => @report.id, :object => 'testdrive', :section => 'suspension', :place => param}  
                - if check = @points.select{|i| i.place == param}.first
                  - parameters[:id] = check.id
                .row-fluid.object.form-inline{:data => parameters, :style => 'display: table'}
                  .span2                    
                    = t("testdrive.suspension.#{param}").to_s+ ':'
                  .span5
                    .divv{:style => 'margin-top: 0px; text-align: center'}
                      .btn-group.pads.radio
                        - Report::SUSPENSION[1].each do |i|
                          - parameters[:condition] = i
                          %button.check.btn.btn-large{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i
                  .span3
                    = text_field 'point', 'description', :value => (check ? check.description : '')
                  
                  .span2
                    photo_box
                %hr{:style => 'margin: 5px 0'}/
                

      .accordion
        .accordion-group
          .accordion-heading
            .row-fluid
              .span10
                .accordion-toggle{data: {toggle: :collapse, target: '#engine'}}
                  %h4= t("testdrive.engine.title")
              .span2
                .accordion-toggle
                  .btn.btn-large.new_all_ok.pull-right Все ок
          #engine.accordion-body.collapse.in
            .accordion-inner
          
              - Report::ENGINE[0].each do |param|
                
                - parameters = {:report_id => @report.id, :object => 'testdrive', :section => 'engine', :place => param}  
                - if check = @points.select{|i| i.place == param}.first
                  - parameters[:id] = check.id
                .row-fluid.object{:data => parameters, :style => 'margin-bottom: 0px'}
                  .span2
                    = t("testdrive.engine.#{param}").to_s+ ':'
                  .span5
                    .divv{:style => 'margin-top: 0px; text-align: center'}
                      .btn-group.pads.radio
                        - Report::ENGINE[1].each do |i|
                          - parameters[:condition] = i
                          %button.check.btn.btn-large{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i
                  .span3
                    = text_field 'point', 'description', :value => (check ? check.description : '')

                  .span2
                    photo_box
                %hr{:style => 'margin: 5px 0'}/


        / #other_tests
        
        /   %label
        /     Примечание
        /     / = form_for @report do |f|
        /     /   = f.text_a
        /   = text_area "doc", 'series', :class => 'span9', :value => (@report.testdrive_description), :data => {:attribute => :testdrive_description}
