- placements = Report::EXTERIOR
.row-fluid{:id => 'under_the_hood'}

  .span8
    %ul.thumbnails
      - for place in placements[0..2]
        = render :partial => 'drop', :locals => {:object => @report, :place => place, :attribute => 'under_the_hood'}
    %ul.thumbnails
      - for place in placements[3..5]
        = render :partial => 'drop', :locals => {:object => @report, :place => place, :attribute => 'under_the_hood'}

    %ul.thumbnails
      - for place in placements[6..8]
        = render :partial => 'drop', :locals => {:object => @report, :place => place, :attribute => 'under_the_hood'}

    .span{:style => "height: 96px; overflow-x: scroll; width: 98%; overflow-y: hidden;"}
      .imgbox{:style => "height: 110px; width: #{@report.images(:group => 'visual_interior', :size => 'thumb').size*116}px"}
        - for image in @report.images(:group => 'visual_interior', :size => 'thumb')
          .thumbnail{:style => 'width: 100px; float: left; margin-right: 5px; height: 67px'}
            = image_tag(image[1])
            .btn.remove_asset.btn-danger.btn-mini{:style => 'position: relative; top: -20px; left: 80px', :id => image[0]} x

  .span4
    =render :partial => 'uploader', :locals => {:attribute => 'under_the_hood'}


