.row-fluid
  .span8
    .row-fluid
      .span6
        %h5 Переднее левое колесо
        = render :partial => 'wheel-form', :locals => {:report => @report,:place => :front_left}
      .span6{:id => 'right_wheel_form'}
        %h5 Переднее правое колесо
        = render :partial => 'wheel-form', :locals => {:report => @report,:place => :front_right}
    .row-fluid
      .span12
        .well{:style => "height: 96px; overflow-x: scroll; width: 93%; overflow-y: hidden;"}
          = render :partial => 'drop', :locals => {:object => @report, :place => ':one', :attribute => 'wheels'}
          = render :partial => 'drop', :locals => {:object => @report, :place => ':two', :attribute => 'wheels'}
          = render :partial => 'drop', :locals => {:object => @report, :place => ':three', :attribute => 'wheels'}
          = render :partial => 'drop', :locals => {:object => @report, :place => ':four', :attribute => 'wheels'}


    .row-fluid
      .span6
        %h5 Заднее левое колесо
        = render :partial => 'wheel-form', :locals => {:report => @report,:place => :rear_left}
      .span6{:id => 'right_wheel_form'}
        %h5 Заднее правое колесо
        = render :partial => 'wheel-form', :locals => {:report => @report,:place => :rear_right}
