- tab = 'wheels'
.accordion{style: 'background-color: white'}
  .accordion-group
    .accordion-heading
      .row-fluid
        .span4
          .accordion-toggle{id: "tab_#{tab}", data: {toggle: :collapse, target: "##{tab.to_s}"}}
            %h4= t("elements.#{tab}.title")                    
        
          
        .span8
          .accordion-toggle
            .btn.btn-large.all_wheels.pull-right Во всех колесах одинаково
      
    .accordion-body.collapse.in{id: tab}
      .accordion-inner{:style => 'height: 628px'}
        .row-fluid
          - %w(front_left front_right rear_left rear_right).each do |place|
            = render partial: 'reports/tabs/wheel', locals: {place: place}  
          