
.span6.well

  %table.table#car
    %thead
      %th Поле
      %th Значение
    %tbody
      %tr
        %td
          Марка/модель
        %td#mark
          = text_field 'report[car]', 'mark_model', :value => @report.car['mark_model'], :data => {:provide => 'typeahead', :source => @models, :attribute => :car, :place => :mark_model}
      %tr
        %td
          Год выпуска
        %td#year
          .btn-toolbar
            .btn-group
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 58px'}
                = (@report.car['car']['year'] if @report.car['car']) || '---'
                %span.caret
              %ul.dropdown-menu.pull-left
                - (1980..2012).to_a.reverse.each do |i|
                  %li
                    .dropdown-element{:data => {:attribute => 'car', :place => 'car', :change => 'year', :year => i}}=i


      %tr
        %td
          Гоc. номер
        %td#year
          = text_field 'report[car]', 'gov_number', :value => @report.car['gov_number'],  :placeholder => 'A 999 AA 999', :data => {:attribute => :car, :place => :gov_number, :change => :gov_number}
      %tr
        %td
          vin
        %td#vin
          = text_field 'report[car]', 'vin', :value => (@report.car['attr']['vin'] if @report.car['attr']), :placeholder => '*** ****** ****9999',  :data => {:attribute => :car, :place => :attr, :change => 'vin'}
      %tr
        %td
          Покупатель
      %tr
        %td
          ФИО
        %td#seller_fio
          = text_field 'report[car]', 'buyer_name', :value => (@report.car['buyer']['name'] if @report.car['buyer']),  :data => {:attribute => :car, :place => :buyer, :change => 'name'}
      %tr
        %td
          Телефон
        %td#seller_phone
          = text_field 'report[car]', 'buyer_phone', :value => (@report.car['buyer']['phone'] if @report.car['buyer']),  :data => {:attribute => :car, :place => :buyer, :change => 'phone'}
      %tr
        %td
          Продавец
      %tr
        %td
          ФИО
        %td#seller_fio
          = text_field 'report[car]', 'seller_name', :value => (@report.car['seller']['name'] if @report.car['seller']),  :data => {:attribute => :car, :place => :seller, :change => 'name'}
      %tr
        %td
          Телефон
        %td#seller_phone
          = text_field 'report[car]', 'seller_phone', :value => (@report.car['seller']['phone'] if @report.car['seller']),  :data => {:attribute => :car, :place => :seller, :change => 'phone'}




