.files
  = form_for [@report, Asset.new], :html => { :class => "upload", :multipart => true } do |f|
    = f.file_field :data
    %div Перетащить сюда файлы
  %table.upload_files
.photos{:style => 'overflow-y: scroll;height: 500px'}


  .tabbable{:style => "margin-bottom: 18px;"}

    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "##{attribute}_unassigned"} unass
      %li
        %a{"data-toggle" => "tab", :href => "##{attribute}_all_photos"} all
    .tab-content
      .tab-pane.active{:id => "#{attribute}_unassigned"}
        - for asset in @report.assets
          -if asset.data_processing
            = image_tag asset.url(:thumb), :size => '96x66', :draggable => 'true',:id => asset.id, :style => 'cursor: move;', :processing => asset.id, :class => 'processing'
          - else
            = image_tag asset.url(:thumb), :draggable => 'true',:id => asset.id, :style => 'cursor: move;'

      .tab-pane{:id => "#{attribute}_all_photos"}
        - for asset in @report.assets
          -if asset.data_processing
            = image_tag asset.url(:thumb), :size => '96x66', :draggable => 'true',:id => asset.id, :style => 'cursor: move;', :processing => asset.id, :class => 'processing'
          - else
            = image_tag asset.url(:thumb), :draggable => 'true',:id => asset.id, :style => 'cursor: move;'

