.files.pull-left
  %input{id: :fileupload, type: :file, name: "files[]", multiple: true}
  %table.upload_files

  / .files
  /   = form_for [@report, Asset.new], :html => { :class => "upload", :multipart => true } do |f|
  /     = f.file_field :data
  /     %div{:style => 'color: #08C; font-size: 18pt;padding: 7px'} Перетащить сюда файлы


.photos.pull-left{:style => 'overflow-y: scroll;height: 500px'}
  .tabbable{:style => "margin-bottom: 18px;"}

    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "##{attribute}_unassigned"} Не исп.
      %li
        %a{"data-toggle" => "tab", :href => "##{attribute}_all_photos"} Все
      %li
        %a{"data-toggle" => "tab", :href => "##{attribute}_uploading"} Загрузка
      %li
        %a{"data-toggle" => "tab", :href => "#eye-fi"} Eye-fi

    .tab-content
      .tab-pane.active{:id => "#{attribute}_unassigned"}
        - for asset in @report.unassigned
          -if asset.data_processing
            .processing_image.image
              = image_tag asset.url(:thumb), :size => '96x66', :draggable => 'true',:id => asset.id, :style => 'cursor: move;', :processing => asset.id, :class => 'processing'
          - else
            .image
              = image_tag asset.url(:thumb), :draggable => 'true',:id => asset.id, :style => 'cursor: move;'

      .tab-pane{:id => "#{attribute}_all_photos"}
        - for asset in @report.assets
          -if asset.data_processing
            .pricessing_image
              = image_tag asset.url(:thumb), :size => '96x66', :draggable => 'true',:id => asset.id, :style => 'cursor: move;', :processing => asset.id, :class => 'processing'
          - else
            .image
              = image_tag asset.url(:thumb), :draggable => 'true',:id => asset.id, :style => 'cursor: move;'
      .tab-pane.uploading{:id => "#{attribute}_uploading"}
      .tab-pane#eye-fi
        - for asset in current_user.assets
          -if asset.data_processing
            .processing_image
              = image_tag asset.url(:thumb), :size => '96x66', :draggable => 'true',:id => asset.id, :style => 'cursor: move;', :processing => asset.id, :class => 'processing'
          - else
            .image
              = image_tag asset.url(:thumb), :draggable => 'true',:id => asset.id, :style => 'cursor: move;'



