.well{:style => 'padding: 18px'}
  .form-inline.wheel{:data => {:attribute => 'wheel', :place => place}}
    %fieldset
      .control-group
        %label.control-label Ширина
        %label.control-label Профиль
        %label.control-label Диаметр
        .btn-toolbar
          .btn-group
            %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 56px'}
              = report.wheels[place] ? report.wheels[place][:width] : '---'
              %span.caret
            %ul.dropdown-menu
              - [31,32,33,135,145,155,165,175,185,195,205,215,225,235,245,255,265,275,285,295,305,315,325,335,345].each do |i|
                %li
                  .dropdown-element{:data => {:attribute => 'wheels',:place => place, :change => 'width', :width => i}}=i
          %label{:style => 'vertical-align: top; padding-top: 2px'} \
          .btn-group
            %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 58px'}
              = report.wheels[place] ? report.wheels[place][:profile] : '---'
              %span.caret
            %ul.dropdown-menu{:data => {:attribute => 'wheel'}}
              - [8.50,9.50,10.5,10.50,11.50,12.50,25,30,35,40,45,50,55,60,65,70,75,80,85,95,100].each do |i|
                %li
                  .dropdown-element{:data => {:attribute => 'wheels',:place => place, :change => 'profile', :profile => i}}=i
          %label{:style => 'vertical-align: top; padding-top: 2px'} R
          .btn-group
            %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 58px'}
              = report.wheels[place] ? report.wheels[place][:diameter] : '---'
              %span.caret
            %ul.dropdown-menu.pull-right
              - (12..24).to_a.each do |i|
                %li
                  .dropdown-element{:data => {:attribute => 'wheels',:place => place, :change => 'diameter', :diameter => i}}=i

      .control-group
        %label.control-label Протектор
        %label.control-label Производитель
        .btn-toolbar
          .btn-group
            %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 58px'}
              = report.wheels[place] ? report.wheels[place][:protector] : '---'
              %span.caret
            %ul.dropdown-menu.pull-left
              - [1,2,3,4,5,6,7,8].each do |i|
                %li
                  .dropdown-element{:data => {:attribute => 'wheels',:place => place, :change => 'protector', :protector => i}}=i
          %label{:style => 'vertical-align: top; padding-top: 2px'} \
          .btn-group
            %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :style => 'width: 146px'}
              = report.wheels[place] ? report.wheels[place][:brand] : '---'
              %span.caret
            %ul.dropdown-menu
              - %w(Amtel Barum BFGoodrich Bridgestone Continental Cordiant Dunlop Dunlop JP Fulda Gislaved Goodyear Kelly Kleber Michelin Nokian Nordman Pirelli Sava Tigar Tunga Yokohama ).each do |i|
                %li
                  .dropdown-element{:data => {:attribute => 'wheels',:place => place, :change => 'brand', :brand => i}}=i
      .control-group
        .btn-toolbar
          %label.control-label Колодки
          %label.control-label Торм.диск.
          %label.control-label Амортизатор

          .btn-group.pads.radio
            %button.btn.btn-mini ok
            %button.btn.btn-mini не ok
          .btn-group.pads.radio
            %button.btn.btn-mini ok
            %button.btn.btn-mini не ok
          .btn-group.pads.radio
            %button.btn.btn-mini ok
            %button.btn.btn-mini не ok





