
.hero-unit
  %h2 Список отчетов

  %table.table-bordered.table-striped
    %thead
      %tr
        %th Машина
        %th Год выпуска
        %th VIN
        %th Год выпуска
        %th Дата создания

    %tbody
      - @reports.each do |report|
        %tr
          %td= report.model_name
          %td= report.car[:car][:year] if report.car[:car]
          %td= report.car['vin']
          %td= report.car['gov_number']
          %td= report.created_at.strftime('%d.%m.%y')
          %td
            - if current_user.reports.include?(report) or current_user.admin?
              .btn.btn-primary{:onclick => "window.location.href = '#{report_path(report)}'"}
                Просмотреть
              .btn.btn-primary{:onclick => "window.location.href = '#{edit_report_path(report)}'"}
                Изменить
              .btn.btn-danger.destroy_report{'data-confirm' => 'Точно?', :report_id => report.id}
                Уничтожить

            - else
              .btn.btn-primary{:onclick => "window.location.href = '#{report_path(report)}'"}
                Просмотреть

  %br

  .btn.btn-primary{:onclick => "window.location.href = '#{new_report_path}'"}
    Новый отчет
