
.container
  
  .row{style: 'margin-top: 10px'}
    .span3
      %legend Список отчетов
    .span8.offset1{style: 'margin-top: 8px'}
      %input.span7.search-query.pull-right.icon-search{type: :search, disabled: :disabled}
        %i.icon-search{style: 'padding-top: 1px;margin-top:-22px; margin-left: 76px'}

  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Машина
        %th Год выпуска
        %th VIN
        %th Продавец
        %th Покупатель
        %th Организация

        %th Дата создания

    %tbody
      - @reports.each do |report|
        %tr{data: {report: report.id}}
          %td= report.model_name
          %td= report.year
          %td= report.car['vin']
          %td= report.car['seller']['name'].split(/\s/)[0] if report.car['seller']['name'] if report.car['seller']
          %td= report.car['buyer']['name'].split(/\s/)[0] if report.car['buyer']['name'] if report.car['buyer']
          %td= report.company.try(:name)
          %td= report.created_at.strftime('%d.%m.%y')
          %td.actions{style: 'width: 140px'}
            = link_to "<i class=\"icon-file\"></i>".html_safe, report_path(report), :class => 'hide btn btn-primary btn-small'
            = link_to "<i class=\"icon-search\"></i>".html_safe, report_path(report), :class => 'hide btn btn-primary btn-small'
            = link_to "<i class=\"icon-print\"></i>".html_safe, report_path(report, :format => :pdf), :class => 'hide btn btn-primary btn-small'
            - if current_user
              - if report.can_manage?(current_user)
                = link_to "<i class=\"icon-remove\"></i>".html_safe, report_path(report), :method => :delete, :confirm => 'Вы уверены?', :class => 'btn btn-danger hide btn-small'
            
            

            
  %br

  = paginate @reports
  = link_to 'Новый отчет', new_report_path, :class => 'btn btn-primary'
