.container-fluid
  .main-unit

.hero-unit
  %h2 Список отчетов

  %table.table-bordered.table-striped
    %thead
      %tr
        %th Машина
        %th Год выпуска
        %th VIN
        %th Год выпуска
        %th Дата создания

    %tbody
      - @reports.each do |report|
        %tr
          %td= report.car[:mark_model]
          %td= report.car[:car][:year] if report.car[:car]
          %td= report.car[:vin]
          %td= report.car[:gov_number]
          %td= report.created_at.strftime('%d.%m.%y')
          %td
            .btn.btn-primary{:onclick => "window.location.href = '#{report_path(report)}'"}
              Изменить
            .btn.btn-danger.destroy_report{'data-confirm' => 'Точно?', :report_id => report.id}
              Уничтожить

  %br

  .btn.btn-primary{:onclick => "window.location.href = '#{new_report_path}'"}
    Новый отчет
