
.hero-unit
  %h2 Список отчетов

  %table.table-bordered.table-striped
    %thead
      %tr
        %th Машина
        %th Год выпуска
        %th VIN
        %th Год выпуска
        %th Дата создания

    %tbody
      - @reports.each do |report|
        %tr
          %td= report.model_name
          %td= report.car[:car][:year] if report.car[:car]
          %td= report.car['vin']
          %td= report.car['gov_number']
          %td= report.created_at.strftime('%d.%m.%y')
          %td
            - if current_user
              - if current_user.reports.include? report or current_user.admin? or current_user.company.reports.include? report
                = link_to 'Просмотреть', report_path(report), :class => 'btn btn-primary'
                = link_to 'Изменить', edit_report_path(report), :class => 'btn btn-primary'
                - if current_user.admin?
                  .btn.btn-danger.destroy_report{'data-confirm' => 'Точно?', :report_id => report.id, :disabled => :disabled}
                    Удалить
                -else 
                  .btn.btn-danger.destroy_report{'data-confirm' => 'Точно?', :report_id => report.id}
                    Удалить

              - else
                = link_to 'Просмотреть', report_path(report), :class => 'btn btn-primary'
  %br


  = link_to 'Новый отчет', new_report_path, :class => 'btn btn-primary'
