.container
  .row
    .span12
      %h2
        Отчет #
        = @report.id
        от
        =@report.created_at.strftime('%d.%m.%y')
  .row
    .span2    
      = image_tag( @report.assets.first.url(:thumb), :width => '120px' ) if @report.assets.any?

    .span10
      %table.table.table-striped
        %tr
          %td= @report.car['mark_model']
          %td= @report.car['mark_model']
          %td= @report.car['year']
        %tr
          %td= @report.car['vin']
          %td Regnum
          %td Mileage
        %tr
          %td Engine Cylinders
          %td Engine Displacement
          %td Engine Type
  .row#row
    .span12

      %table.table
        / ###################### PHOTOS ######################################
        %tr
          %td
            %a{:data => {:toggle => 'collapse', :target => '#photo'}}
              %h3{:style => 'margin: 0'} Фото
          %td= @report.assigned.size
          %td &nbsp;
        %tr
          %td{:colspan => 3}
            #photo.collapse.in
              - Asset.where(:id => @report.assigned).each do |image|
                = image_tag image.url(:thumb)
        / ######################## CHECKLIST ####################################
        %tr
          %td
            %a{:data => {:toggle => 'collapse', :target => '#checklist_exterior'}}
              %h3{:style => 'margin: 0'} Чеклист
          %td= @report.assigned.size
          %td &nbsp;
        %tr
          %td{:colspan => 3}
            #checklist_exterior.collapse.in
              %table.table
                - for block in @report.points.where(:object => :check).group(:section).map(&:section)
                  %tr
                    %td
                      %a{:data => {:toggle => 'collapse', :target => "#points_#{block}"}}
                        %h4{:style => 'margin: 0'}
                          = t("checklist.#{block}.title")
                          = @report.points.where(:section => block.to_sym).size()
                    %td
                    %td &nbsp;
                
                  %tr
                    %td{:colspan => 3}
                      .collapse.in{:id => "defects_exterior"}
                        %ul.thumbnails
                          - @report.points.where(:section => block.to_sym).each do |point|
                            %li.span7{:style => 'width: 554px; margin-bottom: 5px'}
                              - if ['ок', 'ok', 0, 'OK', 'есть', 100, '100', '1', 1].include? point.condition
                                .alert.alert-success{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{block}.#{point.place}")
                                  .span6{:style => 'text-align:right'}= point.condition
                              - else
                                .alert.alert-error{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{block}.#{point.place}")
                                  .span6{:style => 'text-align:right'}= point.condition
        %tr
          %td{:colspan => 3}
            Description:
            = t('lorem')

        / ######################## Testdrive ####################################
        %tr
          %td
            %a{:data => {:toggle => 'collapse', :target => '#testdrive'}}
              %h3{:style => 'margin: 0'} Тестдрайв
          %td= @report.assigned.size
          %td &nbsp;
        %tr
          %td{:colspan => 3}
            .collapse.in{:id => 'testdrive'}
              %table.table
                - for block in @report.points.where(:object => :testdrive).group(:section).map(&:section)
                  %tr
                    %td
                      %a{:data => {:toggle => 'collapse', :target => "#points_#{block}"}}
                        %h4{:style => 'margin: 0'}
                          = t("testdrive.#{block}.title")
                          = @report.points.where(:section => block.to_sym).size()
                    %td
                    %td &nbsp;
                
                  %tr
                    %td{:colspan => 3}
                      .collapse.in{:id => "defects_exterior"}
                        %ul.thumbnails
                          - @report.points.where(:section => block.to_sym).each do |point|
                            %li.span7{:style => 'width: 554px; margin-bottom: 5px'}
                              - if ['ок', 'ok', 0, 'OK', 'есть', 100, '100', '1', 1].include? point.condition
                                .alert.alert-success{:style => 'margin-bottom: 0px'}
                                  .span6= t("testdrive.#{block}.#{point.place}")
                                  .span6{:style => 'text-align:right'}= point.condition
                              - else
                                .alert.alert-error{:style => 'margin-bottom: 0px'}
                                  .span6= t("testdrive.#{block}.#{point.place}")
                                  .span6{:style => 'text-align:right'}= point.condition
        %tr
          %td{:colspan => 3}
            Description:
            = t('lorem')

                
        / ######################## Elements ####################################
        %tr
          %td
            %a{:data => {:toggle => 'collapse', :target => '#element'}}
              %h3{:style => 'margin: 0'} Элементы
          %td= @report.assigned.size
          %td &nbsp;
        %tr
          %td{:colspan => 3}
            .collapse.in{:id => 'element'}
              %table.table
                - for block in @report.points.where(:object => :element).group(:section).map(&:section)
                  %tr
                    %td
                      %a{:data => {:toggle => 'collapse', :target => "#points_#{block}"}}
                        %h4{:style => 'margin: 0'}
                          = t("defects.#{block}.title")
                          = @report.points.where(:section => block.to_sym).size()
                    %td
                    %td &nbsp;
                
                  %tr
                    %td{:colspan => 3}
                      .collapse.in{:id => "defects_exterior"}
                        %ul.thumbnails
                          - @report.points.where(:section => block.to_sym).each do |point|
                            %li.span7{:style => 'width: 554px; margin-bottom: 5px'}
                              - if ['ок', 'ok', 0, 'OK', 'есть', 100, '100', '1', 1].include? point.condition
                                .alert.alert-success{:style => 'margin-bottom: 0px'}
                                  .span6= t("defects.#{block}.#{point.place}")
                                  .span6{:style => 'text-align:right'}= point.condition
                              - else
                                .alert.alert-error{:style => 'margin-bottom: 0px'}
                                  .span6= t("defects.#{block}.#{point.place}")
                                  .span6{:style => 'text-align:right'}= point.condition
              
        %tr
          %td{:colspan => 3}
            Description:
            = t('lorem')
