.container
  .row
    .span12
      %h2
        Отчет #
        = @report.id
        от
        =@report.created_at.strftime('%d.%m.%y')
  .row
    .span2
      = image_tag @report.assets.first.url(:thumb), :width => '120px'
    .span10
      %table.table.table-striped
        %tr
          %td= @report.car['mark_model']
          %td= @report.car['mark_model']
          %td= @report.car['year']
        %tr
          %td= @report.car['vin']
          %td Regnum
          %td Mileage
        %tr
          %td Engine Cylinders
          %td Engine Displacement
          %td Engine Type
  .row#row
    .span12

      %table.table
        / ###################### PHOTOS ######################################
        %tr
          %td
            %a{:data => {:toggle => 'collapse', :target => '#photo'}}
              %h3{:style => 'margin: 0'} Фото
          %td= @report.assigned.size
          %td &nbsp;
        %tr
          %td{:colspan => 3}
            #photo.collapse.in
              - Asset.where(:id => @report.assigned).each do |image|
                = image_tag image.url(:thumb)
        / ######################## EXTERIOR ####################################
        %tr
          %td
            %a{:data => {:toggle => 'collapse', :target => '#checklist_exterior'}}
              %h3{:style => 'margin: 0'}= t('exterior.title')
          %td= @report.assigned.size
          %td &nbsp;
        %tr
          %td{:colspan => 3}
            #checklist_exterior.collapse.in
              %table.table.table-striped
                %tr
                  %td
                    %a{:data => {:toggle => 'collapse', :target => "#checklist_exterior_lights"}}
                      %h4{:style => 'margin: 0'}=t("checklist.lights.title")
                  %td= @report.checklist['lights'].size()
                  %td &nbsp;
                - if @report.checklist['lights'].size() > 0
                  %tr
                    %td{:colspan => 3}
                      .collapse.in{:id => "checklist_exterior_lights"}
                        %ul.thumbnails
                          - @report.checklist['lights'].each do |key, value|
                            %li.span7{:style => 'width: 554px; margin-bottom: 5px'}
                              - if ['ок', 'ok', 0, 'OK', 'есть', 100, '100', '1', 1].include? value
                                .alert.alert-success{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{'lights'}.#{key}")
                                  .span6{:style => 'text-align:right'}= value
                              - else
                                .alert.alert-error{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{'lights'}.#{key}")
                                  .span6{:style => 'text-align:right'}= value
                %tr
                  %td
                    %a{:data => {:toggle => 'collapse', :target => "#checklist_exterior_lights"}}
                      %h4{:style => 'margin: 0'}=t("checklist.lights.title")
                  %td= @report.checklist['lights'].size()
                  %td &nbsp;
                - if @report.checklist['lights'].size() > 0
                  %tr
                    %td{:colspan => 3}
                      .collapse.in{:id => "checklist_exterior_lights"}
                        %ul.thumbnails
                          - @report.checklist['lights'].each do |key, value|
                            %li.span7{:style => 'width: 554px; margin-bottom: 5px'}
                              - if ['ок', 'ok', 0, 'OK', 'есть', 100, '100', '1', 1].include? value
                                .alert.alert-success{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{'lights'}.#{key}")
                                  .span6{:style => 'text-align:right'}= value
                              - else
                                .alert.alert-error{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{'lights'}.#{key}")
                                  .span6{:style => 'text-align:right'}= value

                %tr
                  %td{:colspan => 3}
                    Description:
                    = t('lorem')
        / ######################## INTERIOR ####################################
        %tr
          %td
            %a{:data => {:toggle => 'collapse', :target => '#checklist_interior'}}
              %h3{:style => 'margin: 0'}= t('interior.title')
          %td= @report.assigned.size
          %td &nbsp;
        %tr
          %td{:colspan => 3}
            #checklist_interior.collapse.in
              %table.table.table-striped
                %tr
                  %td
                    %a{:data => {:toggle => 'collapse', :target => "#checklist_interior_electronic"}}
                      %h4{:style => 'margin: 0'}=t("checklist.electronic.title")
                  %td= @report.checklist['electronic'].size()
                  %td &nbsp;
                - if @report.checklist['electronic'].size() > 0
                  %tr
                    %td{:colspan => 3}
                      .collapse.in{:id => "checklist_interior_electronic"}
                        %ul.thumbnails
                          - @report.checklist['electronic'].each do |key, value|
                            %li.span7{:style => 'width: 554px; margin-bottom: 5px'}
                              - if ['ок', 'ok', 0, 'OK', 'есть', 100, '100', '1', 1, 'н/п'].include? value
                                .alert.alert-success{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{'electronic'}.#{key}")
                                  .span6{:style => 'text-align:right'}= value
                              - else
                                .alert.alert-error{:style => 'margin-bottom: 0px'}
                                  .span6= t("checklist.#{'electronic'}.#{key}")
                                  .span6{:style => 'text-align:right'}= value
                %tr
                  %td
                    %a{:data => {:toggle => 'collapse', :target => "#defects_interior"}}
                      %h4{:style => 'margin: 0'}=t("defects.interior.title")
                  %td= @report.defects.where(:category => 'interior').count
                  %td &nbsp;
                - if @report.defects.where(:category => 'interior').count > 0
                  %tr
                    %td{:colspan => 3}
                      .collapse.in{:id => "checklist_exterior_lights"}
                        %ul.thumbnails
                          - @report.defects.where(:category => 'interior').each do |defect|
                            %li.span7{:style => 'width: 554px; margin-bottom: 5px'}
                              .alert.alert-error{:style => 'margin-bottom: 0px'}
                                .span6= t("defects.interior.#{defect.sub_category}")
                                .span6{:style => 'text-align:right'}
                                  = t("defect_type.#{defect.defect_type}")
                                  &nbsp;
                                  = defect.size

                %tr
                  %td{:colspan => 3}
                    Description:
                    = t('lorem')
