= cache ['pdf', @report] do
  .row
    .span50{:style => 'background-color: #59306a'}

  .row
    .span7.offset4
      %h3
        logo
    .span12.offset18
      %h3.text-right
        Отчет #
        = @report.id
    .span8.offset1
      %h3.text-right
        от
        =@report.created_at.strftime('%d.%m.%y')
    
  .bddd
    .row{:style => 'padding: 10px 0 0 0'}
      .offset4
        .span17
          %input{:class => 'span16', :style => 'text-align: start', :value => "  #{@report.car['mark_model']}"}
        .span5.offset1
          Рег. номер
        .span6.offset1
          %input{:class => 'span6', , :value => "  #{@report.car['engine_position']}"}
        .span3.offset1
          Пробег
        .span6.offset1
          %input{:class => 'span8', :value => "  #{@report.car['run']}"}
    .row{:style => 'padding: 10px 0 10px 0'}
      .offset4
        .span10
          Положение двигателя
        .span5.offset1
          %input{:class => 'span5', :value => "  #{@report.car['engine']}"}
        .span7.offset1
          Тип двигателя
        .span6
          %input{:class => 'span6', :value => "  #{@report.car['engine_type']}"}
        .span10.offset1
          Число цилиндров
        .span2
          %input{:class => 'span2', :value => "  #{@report.car['cylinder_amount']}"}
  .row
    .span5.offset5
      %h2 Фото
    .span40{:style => 'margin-top: 19px'}
      Остальные фото доступны по адресу
      = link_to report_url(@report).gsub('/reports','')
  .row{:style => 'margin-top: 25px;'}
    - unless Rails.env == 'development'
      - for asset in @report.assets[0..4]
        .span8{:class => (@report.assets[0..4].index(asset) == 0 ? 'offset4' : 'offset1' )}
          %img.rg_i{ :src => asset.url(:thumb) }/
    - else
      .span8.offset4
        %img.rg_i{:src => "http://s3-eu-west-1.amazonaws.com/rosfax/data/311/thumb.jpg?1350286273"}/
      .span8.offset1
        %img.rg_i{:src => "http://s3-eu-west-1.amazonaws.com/rosfax/data/311/thumb.jpg?1350286273"}/
      .span8.offset1
        %img.rg_i{:src => "http://s3-eu-west-1.amazonaws.com/rosfax/data/311/thumb.jpg?1350286273"}/
      .span8.offset1
        %img.rg_i{:src => "http://s3-eu-west-1.amazonaws.com/rosfax/data/311/thumb.jpg?1350286273"}/
      .span8.offset1
        %img.rg_i{:src => "http://s3-eu-west-1.amazonaws.com/rosfax/data/311/thumb.jpg?1350286273"}/

      
    
                  
      
  - %w( checklist testdrive elements ).each do |object|
    .row
      .span40.offset5
        %h2= t("#{object}.title")
    - if @report.points.where(:object => object.to_sym).any?
      -for block in @report.points.where(:object => object.to_sym).group(:section).map(&:section)
        .row{:style => 'padding-top: 20px'}
          .span50.bddd
            .offset4
              .block-title
                = t("#{object}.#{block}.title")
        .row
          .span50
            .row.offset1
              - @report.points.where(:section => block.to_sym).each do |point|
                .span19.offset4.left
                  .div
                    .div.left= t("#{object}.#{block}.#{point.place}")
                    .div.right{:class => ((['ок', 'ok', 0, 'OK', 'ОК', 'есть', 100, '100', '1', 1].include? point.condition) ? 'green' : 'red')}
                      = point.condition
  .row
    - unless @report.diff.empty?
      %h3.offset6 Не проверенные
      - for object in @report.diff.keys
        .row.bddd
          .offset4.block-title= t("#{object}.title")
        %table.table.table-striped
          - for section in @report.diff[object].keys
            %tr
              %td{:style => 'width: 120px'}
                .block-title= t("#{object}.#{section}.title")
                %td
                  - for place in @report.diff[object][section]
                    %span.badge
                      = t("#{object}.#{section}.#{place}")
                      %span.red
                        - unless @report.diff[object][section][-1] == place
                          = " / "
  %br/
  %br/
  .bddd{:style => 'padding-top: 15px; padding-bottom: 15px'}
    .row{:style => 'padding: 10px 0 10px 0'}
      .span7.offset4
        Отчет выдан:
      .span13.offset1
        %input{:class => 'span13'}
      .span7.offset2
        Эксперт:
      .span13
        %input{:class => 'span13'}
    .row{:style => 'padding: 10px 0 10px 0'}
      .span7.offset4
        Адрес:
      .span13.offset1
        %input{:class => 'span13'}
      .span7.offset2
        Подпись:
      .span13
        %input{:class => 'span13'}
    .row{:style => 'padding: 10px 0 10px 0'}
      .span7.offset4
        Телефон:
      .span13.offset1
        %input{:class => 'span13'}    
    .row{:style => 'padding: 10px 0 10px 0'}
      .span7.offset4
        Сайт:
      .span13.offset1
        %input{:class => 'span13'}
      .span7.offset2
        Печать:
      