.row
  .span4.offset1
    %h4= t('vehicle_description')

.row
  .span4
    =t('report.make')
    %br/
    =t('report.vehicle_style')
    %br/
    =t('report.year')
  .span4
    =t('report.model')
    %br/
    =t('report.transmission')
    %br/
    =t('report.color')
  .span4
    =t('report.vin')
    %br/
    =t('report.engine_type')
    %br/
    =t('report.mileage')
%hr/
.row
  -@report.assets.each do |asset|
    .image_at_show{:style => 'float: left', :id => asset.id}
      =image_tag asset.url(:thumb)
%hr/
.row
  .span4.offset1
    %h4= t('report.body')
.row
  .span12{:style => "background: url('/assets/coating-horizontal.png'); height: 500px; background-repeat: no-repeat;background-position:center"}

.row
  .span4
    = t('report.overal_exterior_condition')
  .span8
    .alert.alert-warning{:style => 'text-align: center'}
      %h4=t('report.fair')
.row
  .span4
    = t('report.overal_interior_condition')
  .span8
    .alert.alert-success{:style => 'text-align: center'}
      %h4=t('report.good')
%hr/
.row
  .span4.offset1
    %h4=t('report.engine')
.row
  .span2
    =image_tag asset_path '/assets/report/engine.gif'
  .span2
    =t('report.engine_condition')
  .span8
    .alert.alert-success{:style => 'text-align: center'}
      %h4=t('report.good')
.row
  .span2
    =image_tag asset_path '/assets/report/engine_oil_l.gif'
  .span2
    =t('report.engine_oil_level')
  .span8
    .alert.alert-error{:style => 'text-align: center'}
      %h4=t('report.bad')

.row
  .span4.offset1
    %h4=t('report.transmission')
.row
  .span4
    =t('report.engine_condition')
  .span8
    .alert.alert-success{:style => 'text-align: center'}
      %h4=t('report.good')
.row
  .span4
    =t('report.engine_oil_level')
  .span8
    .alert.alert-error{:style => 'text-align: center'}
      %h4=t('report.bad')

#modal_carousel.modal.hide{:style => 'overflow: hidden'}
  %button.close{'data-dismiss'=>"modal"}
  #myCarousel.carousel.slide{:style => 'padding: 5px'}
    / Carousel items
    .carousel-inner
      - for image in @report.images :group => 'visual_interior', :size => 'carousel'
        .item{:id => "active_#{image[0]}"}
          = image_tag(image[1])


    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
    %a.carousel-control.close.top-left{'data-dismiss' => 'modal', :href => "#myCarousel", :style => 'font-size: 34px; top: 6%; left: 91%'} x

