.container.well
  %legend Прочеканные

  - @report.attributes.except!('id', 'created_at', 'car_id', 'model_id', 'updated_at', 'user_id').each do |key, value|
    - if value
      - unless value.empty?
        .row
          .span2.offset4
            %h3= t("#{key}.title")
        - if %w(exterior interior under_the_hood photo_others wheels).include? key
          .row
            .span2
              &nbsp;
            .span8
              - Asset.where(:id => @report.send(key).values.flatten.uniq).each  do |asset|
                = image_tag asset.url(:thumb)
        - else

          - if value.class == HashWithIndifferentAccess
            - value.each do |k,v|
              .row
                .span2
                  = t("#{key}.#{k}.title")
                .span4
                  - if v.class == Array
                    = v[0]
                  - elsif v.class == HashWithIndifferentAccess
                    - v.each do |i,j|
                      =t("#{key}.#{k}.#{i}") + ": #{j}"
                      %br/
                  - else
                    =  v
  %br/
  %legend Непрочеканные
  - Hash[Report::ETHALON.to_a - Report.last.checklist.to_a].each do |group, section|
    .row
      .span2.offset4
        %h4
          = t("#{group}.title")
    - section.each do |key, value|
      .row
        .span2
          = t("#{group}.#{key}.title")
        .span8
          - value.each do |k,v|
            =t("#{group}.#{key}.#{k}")
            %br/





