.container.well
  .checked
    %legend Прочеканные

    - @report.attributes.except!('id', 'created_at', 'car_id', 'model_id', 'updated_at', 'user_id').each do |key, value|
      - if value
        - unless value.empty?
          .row
            .span2.offset4
              %h3= t("#{key}.title")
          - if %w(exterior interior under_the_hood photo_others wheels).include? key
            .row
              .span2
                &nbsp;
              .span8
                - Asset.where(:id => @report.send(key).values.flatten.uniq).each  do |asset|
                  = image_tag asset.url(:thumb)
          - else

            - if value.class == HashWithIndifferentAccess
              - value.each do |k,v|
                %hr/
                .row{:style => 'margin-top: 10px'}
                  .span2
                    = t("#{key}.#{k}.title")

                  - if v.class == Array
                    = v[0]
                  - elsif v.class == HashWithIndifferentAccess
                    - span1 = []
                    - span2 = []
                    - v.each do |i,j|
                      - if ['ок', 'ok', 0, 'OK', 'есть', 100, '100', '1', 1].include? j
                        - span1.push t("#{key}.#{k}.#{i}") + ": #{j}" + "<br/>"
                      - else
                        - span2.push t("#{key}.#{k}.#{i}") + ": #{j}" + "<br/>"
                    .span4
                      = span1.join.to_s.html_safe
                    .span4
                      = span2.join.to_s.html_safe

                  - else
                    =  v
    %br/
  %legend
    Непрочеканные
    .btn.hide_unchecked.btn-mini
      скрыть/показать
  .unchecked
    - Hash[Report::ETHALON.to_a - Report.last.checklist.to_a].each do |group, section|
      .row
        .span2.offset4
          %h4
            = t("#{group}.title")
      - section.each do |key, value|
        .row
          .span2
            = t("#{group}.#{key}.title")
          .span8
            - value.each do |k,v|
              =t("#{group}.#{key}.#{k}")
              %br/

:object => :defect,     :report_id => 1, :group => :interior,  :place => :front_left,     :condition => :crack, :type => :crack
:object => :checklist, :report_id => 1, :group => :lights,     :place => :front_light,   :condition => :ok
:object => :element,  :report_id => 1, :group => :exterior, :place =>  :front_left,    :condition => :small, :type => :factory




