!!!
%html
  %head
    %title Tradein
    = stylesheet_link_tag    "application"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{:data => {:spy => :scroll, :target => '.nav'}}
    - if Rails.env.development?
      = session.inspect
      - User.all.each do |user|
        = link_to user.email, "/switch_user?scope_identifier=user_#{user.id}"
    .container-fluid
      
      - unless request.path == '/'
        = render 'navbar'
      = render 'feed_back'
      = bootstrap_flash.html_safe
      = yield
    = render 'yandex_metrika'
    .footer


