!!!
%html
  %head
    %title Tradein
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery", 'jquery_ujs', 'twitter/bootstrap', 'bootstrap', 'index', 'feedback'
    = csrf_meta_tags
  %body{:data => {:spy => :scroll, :target => '.nav'}}
    .container-fluid
      
      - unless request.path == '/'
        = render 'navbar'
      = render 'feed_back'
      = yield
