!!!
%html
  %head
    %title Tradein
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery", 'jquery_ujs', 'twitter/bootstrap', 'bootstrap', 'index', 'feedback'
    = csrf_meta_tags
  %body
    = render 'navbar'
    = render 'feed_back'
    .container
      = yield