!!!
%html
  %head
    %title Tradein
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery", 'twitter/bootstrap', 'bootstrap', 'index'
    = csrf_meta_tags
  %body
    = render 'navbar'
    .container
      = yield