!!!
%html
  %head
    %title Tradein

    = stylesheet_link_tag    "application"
    = javascript_include_tag 'application'
    / %script{:src => "http://vk.com/js/api/openapi.js?62", :type => "text/javascript"}/
    / %script{:charset => "windows-1251", :src => "http://vk.com/js/api/share.js?11", :type => "text/javascript"}


    = csrf_meta_tags

  %body

    = render 'navbar'
    = bootstrap_flash
    = render 'feed_back'
    = yield
    = render 'yandex_metrika'