!!!
%html
  %head
    %title Tradein
    %script{:charset => "windows-1251", :src => "http://vk.com/js/api/share.js?11", :type => "text/javascript"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery", 'twitter/bootstrap', 'bootstrap', 'index', 'loading', 'magnify', 'carousel'
    = csrf_meta_tags
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
      :javascript
        stLight.options({publisher: "a580cedd-cd3d-47e2-9ae4-0e37f187bab3"});
  %body
    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=189791341053526";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    = render 'navbar'
    = yield